<form hx-post="{{base}}/reset_token" hx-target="this" hx-swap="outerHTML" >
  <label for="password">Password</label>
  <input required id="password" value="{{errors.password}}" type="password" name="password" >

  <label for="password2">Retype Password</label>
  <input required id="password2" value="{{errors.password2}}" type="password" name="password2" >

  <input required id="token" value="{{token}}" type="hidden" name="token" >

  <div class="formGroup">
    <div>
      <label class="checkboxContainer">
        <input type="checkbox" class="custom" id="viewPassword" onchange="togglePassword()" />
        View Password
      </label>
    </div>
  </div>
  {% if wasCorrect == 'False' %}
  <ul class="errorText">
    {% if errors.tokenIsValid != 1 %}
      <li>You took to long try again. The token is only valid for 10 mintues.</li>
    {% endif %}
    {% if errors.passwordsMatch != 1 %}
      <li>Passwords don't match</li>
    {% endif %}
    {% if errors.passwordLength != 1 %}
      <li>Password needs to be at least 9 characters long</li>
    {% endif %}
  </ul>
  {% endif %}
  <button class="blue" type="submit">Reset Password</button>
</form>
