* {
  transition: all 0.3s ease;
}

.logo {
  max-height: 40px;
}

.header {
  grid-column-start: 1;
  grid-column-end: 13;
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 52px;
  position: fixed;
  width: calc(100vw - 50px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  z-index: 999;
}

.menu {
  margin-left: auto;

  ul {
    display: flex;
    list-style: none;
  }
  li {
    margin-left: 20px;

    a {
      text-decoration: none;
      color: black;
    }
  }
}

.buttons button {
  margin-left: 15px;
}

.mobileNav:not(.showNavbar) {
  display: none;
}

@media (min-width: 701px) {
  .hamburger,
  .mobileNav {
    display: none;
  }
}
@media (max-width: 725px) {
  .hamburger {
    display: block;
    scale: 0.6;
    padding-left: 10px;
    cursor: pointer;
    margin-left: auto;
  }

  .menu,
  .buttons {
    display: none;
  }

  .mobileNav.showNavbar {
    position: fixed;
    top: 52px;
    right: 0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    ul {
      display: flex;
      list-style: none;
      flex-direction: column;
      padding: 10px 40px 0px 40px;

      li {
        padding-bottom: 20px;
        a {
          text-decoration: none;
          color: #000;

          &:hover {
            color: rgb(108, 108, 108);
          }
        }
      }
    }
  }
}
