.logo {
  max-height: 40px;
}

.header {
  grid-column-start: 1;
  grid-column-end: 13;
  display: flex;
  align-items: center;
}

.menu {
  margin-left: auto;

  ul {
    display: flex;
    list-style: none;
  }
  li {
    margin-left: 20px;

    a {
      text-decoration: none;
      color: black;
    }
  }
}

.buttons button {
  margin-left: 10px;
}
