body {
  position: relative;
}

.section {
  margin: 0px;
  border-bottom: 1px solid #0007;
}

.section h2 {
  margin: 0px;
}

.outerChunk {
  margin: 0px;
  white-space: pre-wrap;
  box-sizing: border-box;
  border: 1px solid #00f0;
  position: relative;
  .innerDiv {
    margin: 0px;
    position: relative;
  }
}


.chunkButton {
  position: absolute;
  background-color: red;
  height: 100%;
  width: 6px;
  left: -8px;
  cursor: pointer;
}


.chunk {
  margin: 0px;
  white-space: pre-wrap;
  box-sizing: border-box;
  position: relative;
  /* padding: 10px; */
  /* box-shadow: black 0px 0px 3px; */
  /* margin: 4px; */
}

.chunkComment {
  display: inline-block;
  width: 6px;
  height: 100%;
  background-color: red;
  margin-right: 2px;
  position: relative;
}

.chunkCommentPopup {
  position: absolute;
  top: calc(100% + 10px);
  width: 300px;
  height: 200px;
  background-color: white;
  z-index: 4;
  box-shadow: black 0px 0px 3px;
}

.selected {
  border: 1px solid #00f4;
  border-radius: 3px;
}

.bibleText {
  padding: 10px;
}

.content {
  padding: 0px;
}

.question {
  padding: 0px;
}

.questions {
  padding: 10px;
}

.questions h3 {
  margin: 0px;
}

.reference {
  background-color: red;
}

.referenceTo {
  background-color: yellow;
}

.questionRef {
  display: inline;
  border: 1px dashed blue;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
}

.questionRefPopup {
  display: grid;
  position: absolute;
  width: 300px;
  height: 200px;
  background-color: white;
  border: 1px solid black;
  grid-template-areas:
    "mover close"
    "editor editor" ;
  grid-template-columns: 1fr 20px;
  grid-template-rows: 20px 1fr;
  align-items: stretch;
}

.questionEditorHolder {
  grid-area: editor;
  margin-top: 5px;
}

.questionRefPopup mover {
  grid-area: mover;
  width:100%;
  height: 100%;
  cursor: grab;
}

.questionRefPopup closer {
  grid-area: close;
  width:100%;
  height: 100%;
  cursor: pointer;
}

questionouter {
  display: grid;
  grid-template-areas: "q qt" "b a";
  grid-template-columns:  1.4em 1fr;
}

questionouter > div {
  grid-area: q;
  font-weight: 600;
}
questionouter > button {
  grid-area: a;
  justify-self: start;
}
question {
  grid-area: qt;
}

questiontext {
  display: block;
}

questionanswerouter {
  display: grid;
  grid-template-columns:  1.4em 1fr;
}

questionanswerouter > div {
  font-weight: 600;
}

questionanswer {
  display: block;
  margin-bottom: 3px;
}
