<form hx-put="{{base}}/profile" hx-target="this" hx-swap="outerHTML">
    <label for="profileName">Name</label>
    <input id="profileName" value="{{user.name}}" name="name" type="text" required>
    <label for="profileEmail">Email</label>
    <input id="profileEmail" name="email" type="email" value="{{user.email}}" required>
    {% if wasSaved %}
      <p-notification time-ms="1000">
        Saved!
      </p-notification>
    {% endif %}
    <button class="blue" type="submit" disabled>Save</button>
</form>
