.hamburgerMenuMobile {
  padding: 16px 16px 16px 16px;
  cursor: pointer;
}

.logo {
  max-height: 40px;
  margin-right: 10px;
  cursor: pointer;
}

.header {
  grid-column-start: 1;
  grid-column-end: 13;
  display: flex;
  align-items: center;
  padding: 0 20px 0 4px;
  height: 52px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  z-index: 999;

  .studyHeaderText {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 16px;

    div {
      display: flex;
      gap: 10px;
      color: gray;
      font-size: 13px;
      margin-top: -2px;
    }
    p {
      margin: 0px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.headerThingy {
  width: 100vw;
  height: 52px;
}

.shareButton {
  margin-left: 16px;
  button {
    display: flex;
    align-items: center;

    img {
      margin-right: 5px;
    }

    p {
      margin: 0px;
    }
  }
}

.otherUsersCurrentlyViewing {
  display: flex;
  flex-direction: row-reverse;
  div {
    width: 40px; /* Adjust as needed */
    height: 40px;
    border-radius: 50%; /* Makes it circular */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee; /* Or any other color */
    color: #fff; /* Text color */
    margin-left: -8px;
    cursor: pointer;
    position: relative;
  }
}

@media screen and (max-width: 750px) {
  .otherUsersCurrentlyViewing,
  .hideBelow750px {
    display: none;
  }
}

@media screen and (min-width: 751px) {
  .hamburgerMenuMobile {
    display: none;
  }
  .logo {
    margin-left: 16px;
  }
}

.profileButton {
  width: 40px; /* Adjust as needed */
  height: 40px;
  border-radius: 50%; /* Makes it circular */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee; /* Or any other color */
  color: #333; /* Text color */
  margin-left: 16px;
  cursor: pointer;
  position: relative;
}

.profileDropdown {
  display: none;
  position: absolute;
  right: 10px; /* Adjust as per your layout */
  top: 50px; /* Position it below the button, adjust as per your layout */
  border: 1px solid #ccc;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* To ensure it stays on top */
  padding: 14px 0px;
  border-radius: 7px;
}

.profileDropdown ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.profileDropdown li {
  padding: 0px 0px;
  cursor: pointer;
  display: flex;
  a {
    text-decoration: none;
    color: #6c6c6c;
    display: flex;
  }
}

.fullWidthLink {
  display: block;
  width: 100%;
  height: 100%;
  color: #6c6c6c;
  padding: 8px 26px;
}
.fullWidthLink:hover {
  background-color: #f6f6f6; // Same hover background as the li
}

.showDropdown {
  display: block;
}

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001; // higher than your dropdown's z-index
}

.shareModal {
  width: 90%;
  position: relative;
  max-width: 520px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
  max-height: 93vh;
  min-height: 50vh;

  h3 {
    margin-top: 0px;
    margin-bottom: 18px;
    font-size: 1.6em;
    padding-right: 39px;
  }

  .closeModalIcon {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 10px;
    max-width: 20px;
    padding: 10px;
  }

  input[type="text"],
  textarea {
    padding: 12px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }

  input[type="text"]:focus,
  textarea:focus {
    border-color: #37aefd;
    outline: none;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    margin-top: 18px;
  }
  label {
    font-size: 16px;
    margin-bottom: 5px;
    color: #666;
  }

  .emailSearchField {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;

    input[type="text"] {
      width: 100%;
      padding-left: 40px; // give space for the icon on the left side
    }

    .searchIcon {
      position: absolute;
      left: 14px; // adjust as necessary
      transform: translateY(-50%);
      height: 16px; // adjust as necessary
      width: auto;
      opacity: 29%;
    }

    .errorInput {
      border-color: red !important;
    }
  }

  .emailTagsContainer {
    display: flex;
    .emailTag {
      color: #0057d1;
      background-color: #d8e5f8;
      border-radius: 25px;
      align-items: center;
      padding: 8px 17px;
      font-size: 14px;
      display: inline-flex;
      margin-bottom: 16px;
      width: fit-content;
      margin-right: 9px;
    }

    .removeTagIcon {
      max-width: 12px;
      margin-left: 9px;
      cursor: pointer;
    }
  }

  .notifyPeopleCheckbox {
    /* Add the checkbox styles */

    display: flex;
    position: relative;
    padding-left: 27px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    label {
      margin: 0px;
    }

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    .checkmark {
      position: absolute;
      top: 3px;
      left: 0;
      height: 18px;
      width: 18px;
      background-color: #eee;
      border-radius: 4px;
    }

    &:hover input ~ .checkmark {
      background-color: #ccc;
    }

    input:checked ~ .checkmark {
      background-color: #0057d1;
    }

    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    input:checked ~ .checkmark:after {
      display: block;
    }

    .checkmark:after {
      left: 6px;
      top: 2px;
      width: 4px;
      height: 9px;
      border: solid white;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  .inviteMessage {
    min-height: 120px;
  }
  .errorMsg {
    color: red;
    margin-top: -6px;
    font-size: 13px;
  }

  .personWithAccess {
    align-items: center;
    display: flex;
    padding: 11px 13px;
    border-radius: 7px;

    &:hover {
      background-color: #f2f2f287;
    }
    .userInitials {
      margin-right: 12px;
      width: 40px; /* Adjust as needed */
      height: 40px;
      border-radius: 50%; /* Makes it circular */
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #eee; /* Or any other color */
      color: #fff; /* Text color */
      cursor: pointer;
      position: relative;
    }
    .nameAndEmail {
      display: flex;
      flex-basis: 0;
      flex-direction: column;
      flex-grow: 1;
      margin-right: 12px;
      word-break: break-all;

      .email {
        color: gray;
        margin-top: -2px;
        font-size: 13px;
      }
    }
    p {
      margin: 0px;
    }

    .accessPermissions {
      align-items: center;
      display: flex;
      padding: 11px 13px;
      border-radius: 7px;
      cursor: pointer;

      &:hover {
        background-color: #dadada87;
      }
    }
  }

  button[type="submit"] {
    width: 100%;
    background-color: #0057d1;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-bottom: 5px;
  }

  textarea {
    resize: none;
  }
}
