// :root {
//   --fs-xl: clamp(2.5rem, 6vw + 1rem, 4rem);
//   --fs-600: 2rem;
//   --fs-400: 1rem;
// }

* {
  font-family: "Poppins", sans-serif !important;
}

/* Base font size for desktop */
body {
  font-size: 15px;
}

/* Heading styles */
h1 {
  font-size: clamp(2.5rem, 6vw + 1rem, 4rem);
  font-weight: bold;
}

h2 {
  font-size: 2em;
  font-weight: bold;
}

h3 {
  font-size: 1.8em;
  font-weight: bold;
}

h4 {
  font-size: 1.5em;
  font-weight: bold;
}

h5 {
  font-size: 1.2em;
  font-weight: bold;
}

h6 {
  font-size: 1em;
  font-weight: bold;
}

/* Paragraph style */
// p {
//   font-size: 1em;
// }
