body {
  position: relative;
  font-size: 15px;
  margin: 0px;
}

* {
  font-family: Poppins, sans-serif;
}

:root {
  --blue-100: #0057d1;
  --blue-75: #4181dc;
  --blue-50: #9fc5ff;
  --blue-25: #eef5ff;
  --indent1: rgba(102, 150, 217, 0.5);
  --indent2: rgba(78, 177, 104, 0.5);
  --indent3: rgba(87, 84, 100, 0.5);
  --indent4: rgba(252, 189, 11, 0.5);
  --indent5: rgba(240, 105, 55, 0.5);
}

button {
  cursor: pointer;
  vertical-align: middle;
  font-size: inherit;
  border: 0;
  outline: none;
  font-family: inherit;
  text-decoration: none;
  display: inline-block;
  position: relative;
  border-radius: 5px;
  padding: 5px 13px;
  font-size: 14px;
  font-weight: 600;
  transition: background-color .3s;
}

button.lightBlue {
  color: var(--blue-100);
  background-color: var(--blue-25);
  border: 2px solid var(--blue-50);
}

button.lightBlue:hover {
  background-color: var(--blue-50);
}

button.blue {
  color: white;
  background-color: var(--blue-100);
}

button.blue:hover {
  background-color: var(--blue-75);
}

input[type="checkbox"].custom {
  appearance: none;
  border-radius: 4px;
  width: 18px;
  height: 18px;
  position: relative;
  display: inline-block;
  color: #666;
  cursor: pointer;
  background-color: rgb(238, 238, 238);
  vertical-align: middle;
}

label:hover input[type="checkbox"].custom:not(:checked) {
  background-color: #ccc;
}

input[type="checkbox"].custom:checked {
  background-color: #0057d1;
}

input[type="checkbox"].custom:checked::before {
  content: "";
  position: absolute;
  border: 2px solid #fff;
  border-width: 0 2px 2px 0;
  width: 4px;
  height: 9px;
  top: 2px;
  left: 6px;
  transform: rotate(45deg);
}

input[type="email"],
input[type="text"],
input[type="input"],
input[type="password"] {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
  padding: 12px;
  font-size: 14px;
}

input:user-invalid {
  border: 1px solid red;
  box-shadow: 0px 0px 1px red;
}

h1 {
  font-size: clamp(2.5rem, 6vw + 1rem, 4rem);
  margin: 0px;
}

h2 {
  margin: 0px;
}

h3 {
  font-size: 1.8em;
  font-weight: bold;
  margin: 0px;
}

.table3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.table3 header {
  font-weight: 900;
}

.table3 > a {
  text-decoration: none;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-column: span 3;
}

#home-grid {
}



#footer {
  background-color: #fbfbfb;
  margin-top: 70px;
  padding: 40px 0;
  menu {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    list-style: none;
    li {
      padding: 0 15px;
      display: inline-block;

      a {
        color: inherit;
        opacity: .8;
        text-decoration: none;
      }
    }
  }

  .copyright {
    text-align: center;
    color: #aaa;
    margin-top: 15px;
    font-size: 13px;
  }

}

#header {
  box-sizing: border-box;
  z-index: 15;
  background-color: #fff;
  align-items: center;
  width: 100%;
  height: 52px;
  padding: 0 20px;
  display: flex;
  position: sticky;
  box-shadow: 0 2px 4px #0003;
  top: 0px;
  .logo {
    max-height: 40px;
  }

  .menu {
    margin-left: auto;
    list-style: none;
    display: flex;

    li {
      margin-left: 20px;
      display: flex;
      a {
        color: #000;
        text-decoration: none;
        margin: auto;
      }
    }
  }

  .buttons {
    a {
      text-decoration: none;
    }
    button {
      margin-left: 15px;
    }
  }

  .hamburger {
    cursor: pointer;
    margin-left: auto;
    padding-left: 10px;
    transform: scale(.6);
    @media screen and (min-width: 765px) {
      display: none;
    }
  }

  .profileButton {
    color: #333;
    cursor: pointer;
    background-color: #eee;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-left: 16px;
    display: flex;
    position: relative;
  }

  #studyName {
    margin-left: 10px;
    padding: 0px 4px;
    box-sizing: border-box;
  }

  .divider {
    padding-left: 10px;
    padding-right: 10px;
  }

  .saveThing {
    color: gray;
    align-items: center;
    gap: 5px;
    font-size: 13px;
    display: flex;

    img {
      color: gray;
      align-items: center;
      gap: 5px;
      font-size: 13px;
      display: flex;
      opacity: .5;
      width: 15px;
      margin-left: 5px;
    }
  }

  .notSaving #saving {
    display: none;
  }

  .saving {
    #saving {
      display: flex;
    }
    #saved {
      display: none;
    }
  }

  #saving {
    img {
      animation: rotateClockwise 1.5s linear infinite;
    }
  }

}

@keyframes rotateClockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media screen and (min-width: 765px) {
  .mobileShow {
    display: none !important;
  }
}

@media screen and (max-width: 765px) {
  .mobileHidden {
    display: none !important;
  }
}

#mobileNav {
  z-index: 1000;
  margin-right: 0px;
  position: fixed;
  background-color: #fff;
  border-radius: 10px;
  border:none;
  box-shadow: 0 2px 4px #0003;
  margin-top: 50px;
}

#mobileNav menu {
  flex-direction: column;
  padding: 10px 40px 0;
  list-style: none;
  display: flex;
}

#mobileNav menu li {
  padding-bottom: 20px;
}

#mobileNav menu li a {
  color: #000;
  text-decoration: none;
}


#homeContent {
  margin-top: 30px;
  .section1 {
    grid-gap: 20px;
    grid-template-columns: 4fr 3fr;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
    display: grid;
    @media screen and (max-width: 1350px) {
      grid-template-columns: 1fr;
      max-width: 800px;
      padding: 0 25px;
    }

    .leftText {
      h1 {
        margin-bottom: 0;
        font-weight: 600;
      }
      .description {
        font-size: 1.35em;
      }
      .blueRoundedContainer {
        color: #fff;
        background: linear-gradient(40deg, #0057d1 0% 56%, #7ca8e7 100%);
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
        display: flex;
      }
    }

    .rightImage {
      self-align: center;
      @media screen and (max-width: 1350px) {
        display: none;
      }
      img {
        max-width: 100%;
      }
    }

  }


}

.buttonContainer img {
  width: 20px;
  padding-left: 10px;
}


#loginContent {
  grid-template-columns: 450px 1fr;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  overflow: hidden;
  .leftColumn {
    background-color: #f9f9fb;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
  }
  .innerLeftColumn {
    width: 85%;
    max-width: 350px;
  }

}


#loginContent .leftColumn a {
  color: #0057d1;
  text-decoration: none;
}
#loginContent .leftColumn img {
  max-width: 200px;
  margin-bottom: 20px;
}

#loginContent .leftColumn h1 {
  margin-bottom: 10px;
  font-size: 28px;
}

#loginContent .leftColumn p {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.5;
}

#loginContent .leftColumn form {
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  margin-top: 20px;
  display: flex;
}

#loginContent .leftColumn label {
  color: #666;
  margin-bottom: 5px;
  font-size: 14px;
}

#loginContent .leftColumn .formGroup {
  color: #666;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  font-size: 14px;
  display: flex;
}

#loginContent .leftColumn .dontHaveAccount {
  margin-left: auto;
}

#loginContent .leftColumn button {
  padding: 12px;
}

#loginContent .rightColumn {
  justify-content: center;
  align-items: center;
  display: flex;
  background:
    url("/htmx/static/img/background-blue-circles.png") 50%/cover no-repeat,
    linear-gradient(135deg, #0d7ae7 0%, #1fa5ff 58%);
  width: 100%;
  height: 100%;
  position: relative;
}

#loginContent .rightColumn .centeredDiv {
  text-align: center;
  width: 80%;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
}

#loginContent .rightColumn .centeredDiv h2 {
  max-width: 600px;
  margin: auto auto 20px;
  font-size: 40px;
}

#loginContent .rightColumn .centeredDiv p {
  max-width: 500px;
  margin: auto;
  font-size: 18px;
}

#loginContent .rightColumn .centeredDiv img {
  width: 100%;
}

.errorText {
  color: red;
}

@media (max-width: 1200px) {
  #loginContent {
    grid-template-columns: 1fr;
  }
  #loginContent .rightColumn {
    display: none;
  }
}

#notFoundContent {
  background-color: #f5f5f5;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  display: flex;
}

#notFoundContent .container {
  gap: 40px;
  width: 95%;
  max-width: 800px;
  margin: auto;
  display: flex;
}

@media (max-width: 750px) {
  #notFoundContent .container {
    flex-direction: column;
    padding: 0 20px;
  }
}

#notFoundContent h1 {
  color: #2c2c2c;
  font-size: 72px;
  font-weight: 700;
  margin: 0px;
}

#notFoundContent h2 {
  color: #7a7a7a;
  font-size: 24px;
}

#notFoundContent .returnHome {
  margin-top: 20px;
  margin-bottom: 30px;
}

#notFoundContent img {
  width: 100%;
  max-width: 300px;
}

#notFoundContent .block {
  margin-top: 20px;
}

#notFoundContent .block p {
  color: #5a5a5a;
  font-size: 18px;
}

#notFoundContent menu {
  padding-left: 0;
  list-style: none;
  display: flex;
}

#notFoundContent menu li {
  color: #5a5a5a;
  font-size: 18px;
  margin-right: 10px;
}

#profileNav::backdrop {
}

#profileNav {
  z-index: 1000;
  margin-top: 50px;
  margin-right: 10px;
  position: fixed;
  background-color: #fff;
  border-radius: 10px;
  border:none;
  box-shadow: 0 2px 4px #0003;
  padding: 14px 0;
}

#profileNav menu {
  flex-direction: column;
  list-style: none;
  display: flex;
  margin: 0px;
  padding: 0px;
}

#profileNav menu li {
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
}

#profileNav menu li a {
  color: #6c6c6c;
  text-decoration: none;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 8px 26px;
}

#profileNav menu li a:hover {
  background-color: #f6f6f6;
}

#confirmDelete {
  background-color: #fff;
  border-radius: 8px;
  width: 90%;
  max-width: 520px;
  min-height: 10px;
  padding: 20px;
  overflow-y: auto;
  box-shadow: 0 4px 6px #0000001a;
  border: none;
  div {
    gap: 10px;
    display: flex;
  }
}


#studiesContent {
  width: 95%;
  max-width: 1080px;
  margin: 0 auto;
  padding-top: 20px;
}

#studiesContent h1 {
  font-size: 27px;
}

#studiesContent .table3 {
  margin-top: 20px;
}

#studiesContent .table3 > a {
  cursor: pointer;
  color: black;
  border-radius: 9px;
  transition: background-color .3s;
  box-shadow: 0 4px 7px 1px #00000012;
  margin-top: 10px;
}

#studiesContent .table3 > a:hover {
  background-color: #eef5ff;
}

#studiesContent .table3 > a div {
  padding: 10px;
}

#studiesContent .shareWith {
  color: #797d80;
}

#newStudy {
  background-color: #fff;
  border-radius: 8px;
  width: 90%;
  max-width: 700px;
  min-height: 50vh;
  max-height: 93vh;
  padding: 20px;
  overflow-y: scroll;
  box-shadow: 0 4px 6px #0000001a;
  position: relative;
  border: none;
}

#newStudy h3 {
  margin-top: 0;
  padding-right: 40px;
}

#newStudy .closeModalIcon {
  cursor: pointer;
  max-width: 20px;
  padding: 10px;
  position: absolute;
  top: 20px;
  right: 10px;
}

#newStudy label {
  color: #666;
  margin-bottom: 5px;
  font-size: 16px;
}

#newStudy form {
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  margin-top: 20px;
  display: flex;
}

#newStudy .fieldDescription {
  color: #aaa;
  margin-top: -7px;
  font-size: 14px;
}

#newStudy form:invalid button[type="submit"] {
  opacity: .5;
  cursor: not-allowed !important;
}


#editorToolbar {
  z-index: 15;
  background-color: #eef2fa;
  grid-area: 2/1;
  align-items: center;
  gap: 5px;
  padding: 0 7px;
  display: flex;
  position: sticky;
  top: 52px;

  .tooltipContainer {
    cursor: pointer;
    display: inline flex;
    position: relative;
    margin-top: 0 !important;
  }

  .toolbarButton {
    cursor: pointer;
    border-radius: 7px;
    padding: 9px 6px;
    background: none;
    display: flex;
  }

  .toolbarButton img {
    min-height: 16px;
    max-height: 16px;
  }

  .seperator {
    background-color: #00000017;
    width: 1.5px;
    min-width: 1.5px;
    height: 70%;
    margin: 0 5px;
  }

  .tooltipContainer:hover .tooltipText {
    opacity: 1;
    visibility: visible;
    transition-delay: .3s;
  }

  .tooltipText {
    opacity: 0;
    visibility: hidden;
    color: #f4f4f4;
    white-space: nowrap;
    pointer-events: none;
    background-color: #4f4f4f;
    border-radius: 23px;
    padding: 5px 11px;
    font-size: 12px;
    transition: opacity .3s,visibility .3s;
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translate(-50%);
  }

  .popupContainer {
    position: relative;
    overflow: visible;
    .popup.display {
      display: grid;
    }
    .popup {
      position: absolute;
      grid-gap: 8px;
      display: none;
      background-color: #fff;
      border-radius: 8px;
      grid-template-columns: repeat(4,1fr);
      padding: 10px;
      box-shadow: 0 4px 6px #0000001a;
      transform: translateX(-50%) translateX(15px);
      border: none;
      button {
        width: 27px;
        height: 27px;
      }
    }
  }

}

dialog.popup {
  border: none;
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 6px #0000001a;
  z-index: 1;
}

.ProseMirror {
  height: 100%;
}

.ProseMirror *::selection {
  background: #00f3;
}

.ProseMirror-hideselection *::selection {
  background: transparent;
}
.ProseMirror-hideselection *::-moz-selection {
  background: transparent;
}
.ProseMirror-hideselection {
  caret-color: transparent;
}

/* .ProseMirror-selectednode {
  outline: 2px solid #8cf;
} */

/* Make sure li selections wrap around markers */

li.ProseMirror-selectednode {
  outline: none;
}

li.ProseMirror-selectednode:after {
  content: "";
  position: absolute;
  left: -32px;
  right: -2px;
  top: -2px;
  bottom: -2px;
  border: 2px solid #8cf;
  pointer-events: none;
}

/* Protect against generic img rules */

img.ProseMirror-separator {
  display: inline !important;
  border: none !important;
  margin: 0 !important;
}
.ProseMirror-textblock-dropdown {
  min-width: 3em;
}

.ProseMirror-menu {
  margin: 0 -4px;
  line-height: 1;
}

.ProseMirror-tooltip .ProseMirror-menu {
  width: -webkit-fit-content;
  width: fit-content;
  white-space: pre;
}

.ProseMirror-menuitem {
  margin-right: 3px;
  display: inline-block;
}

.ProseMirror-menuseparator {
  border-right: 1px solid #ddd;
  margin-right: 3px;
}

.ProseMirror-menu-dropdown,
.ProseMirror-menu-dropdown-menu {
  font-size: 90%;
  white-space: nowrap;
}

.ProseMirror-menu-dropdown {
  vertical-align: 1px;
  cursor: pointer;
  position: relative;
  padding-right: 15px;
}

.ProseMirror-menu-dropdown-wrap {
  padding: 1px 0 1px 4px;
  display: inline-block;
  position: relative;
}

.ProseMirror-menu-dropdown:after {
  content: "";
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid currentColor;
  opacity: 0.6;
  position: absolute;
  right: 4px;
  top: calc(50% - 2px);
}

.ProseMirror-menu-dropdown-menu,
.ProseMirror-menu-submenu {
  position: absolute;
  background: white;
  color: #666;
  border: 1px solid #aaa;
  padding: 2px;
}

.ProseMirror-menu-dropdown-menu {
  z-index: 15;
  min-width: 6em;
}

.ProseMirror-menu-dropdown-item {
  cursor: pointer;
  padding: 2px 8px 2px 4px;
}

.ProseMirror-menu-dropdown-item:hover {
  background: #f2f2f2;
}

.ProseMirror-menu-submenu-wrap {
  position: relative;
  margin-right: -4px;
}

.ProseMirror-menu-submenu-label:after {
  content: "";
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid currentColor;
  opacity: 0.6;
  position: absolute;
  right: 4px;
  top: calc(50% - 4px);
}

.ProseMirror-menu-submenu {
  display: none;
  min-width: 4em;
  left: 100%;
  top: -3px;
}

.ProseMirror-menu-active {
  background: #eee;
  border-radius: 4px;
}

.ProseMirror-menu-disabled {
  opacity: 0.3;
}

.ProseMirror-menu-submenu-wrap:hover .ProseMirror-menu-submenu,
.ProseMirror-menu-submenu-wrap-active .ProseMirror-menu-submenu {
  display: block;
}

.ProseMirror-menubar {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  position: relative;
  min-height: 1em;
  color: #666;
  padding: 1px 6px;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid silver;
  background: white;
  z-index: 10;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: visible;
}

.ProseMirror-icon {
  display: inline-block;
  line-height: 0.8;
  vertical-align: -2px; /* Compensate for padding */
  padding: 2px 8px;
  cursor: pointer;
}

.ProseMirror-menu-disabled.ProseMirror-icon {
  cursor: default;
}

.ProseMirror-icon svg {
  fill: currentColor;
  height: 1em;
}

.ProseMirror-icon span {
  vertical-align: text-top;
}
.ProseMirror-gapcursor {
  display: none;
  pointer-events: none;
  position: absolute;
}

.ProseMirror-gapcursor:after {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  width: 20px;
  border-top: 1px solid black;
  animation: ProseMirror-cursor-blink 1.1s steps(2, start) infinite;
}

@keyframes ProseMirror-cursor-blink {
  to {
    visibility: hidden;
  }
}

.ProseMirror-focused {
  outline: none !important;
}
.ProseMirror-focused .ProseMirror-gapcursor {
  display: block;
}
/* Add space around the hr to make clicking it easier */

.ProseMirror-example-setup-style hr {
  padding: 2px 10px;
  border: none;
  margin: 1em 0;
}

.ProseMirror-example-setup-style hr:after {
  content: "";
  display: block;
  height: 1px;
  background-color: silver;
  line-height: 2px;
}

.ProseMirror-example-setup-style img {
  cursor: default;
}

.ProseMirror-prompt {
  background: white;
  padding: 5px 10px 5px 15px;
  border: 1px solid silver;
  position: fixed;
  border-radius: 3px;
  z-index: 11;
  box-shadow: -0.5px 2px 5px rgba(0, 0, 0, 0.2);
}

.ProseMirror-prompt h5 {
  margin: 0;
  font-weight: normal;
  font-size: 100%;
  color: #444;
}

.ProseMirror-prompt input[type="text"],
.ProseMirror-prompt textarea {
  background: #eee;
  border: none;
  outline: none;
}

.ProseMirror-prompt input[type="text"] {
  padding: 0 4px;
}

.ProseMirror-prompt-close {
  position: absolute;
  left: 2px;
  top: 1px;
  color: #666;
  border: none;
  background: transparent;
  padding: 0;
}

.ProseMirror-prompt-close:after {
  content: "✕";
  font-size: 12px;
}

.ProseMirror-invalid {
  background: #ffc;
  border: 1px solid #cc7;
  border-radius: 4px;
  padding: 5px 10px;
  position: absolute;
  min-width: 10em;
}

.ProseMirror-prompt-buttons {
  margin-top: 5px;
  display: none;
}
#editor,
.editor {
  background: white;
  color: black;
  background-clip: padding-box;
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 5px 0;
  margin-bottom: 23px;
}

.ProseMirror p {
  /* margin: 0px; */
  /* padding: 0px; */
}

#editorHolder {
  .section {
    scroll-margin-top: 6rem;
    margin: 0px;
    padding-bottom: 10px;
    padding: 26px 20px 40px 20px;
    border: 1px solid #dadada;
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    max-width: 100%;

    p {
      word-break: break-word !important;
    }
  }

  .section::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -21px;
    border-bottom: 21px solid #f8fafd;
  }

  .section h2 {
    margin: 0px;
  }

  .questionMark {
    width: 1.05em;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    margin-right: 2px;
    opacity: 0.9;
    background-color: #fff;
    margin-right: 0px;
    img {
      max-width: 100%;
      transform: translateY(3px);
    }
  }

  .outerChunk {
    margin: 0px;
    white-space: pre-wrap;
    box-sizing: border-box;
    // border: 1px solid #00f0;
    position: relative;
    .innerDiv {
      margin: 0px;
      position: relative;
    }
  }

  .chunkButton {
    position: absolute;
    background-color: red;
    height: 100%;
    width: 6px;
    left: -8px;
    cursor: pointer;
  }

  .studyBlocksContainer {
    position: relative;

    .studyBlockEditPencil {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      z-index: 2;
      max-width: 28px;
      transform: translate(13px, -9px);
      box-shadow: 0 0 4px #00000049;
      border-radius: 50%;
    }

    .studyBlocks {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;

      td {
        border: 1px solid #c0c0c0;
        padding: 10px;
        vertical-align: top;
      }

      p {
        margin: 0px;
      }

      td:first-child {
        background-color: #f0f0f0;
        border-radius: 0px;
        font-weight: 700;
        color: #050020cf;
        width: 200px;
        z-index: 1;
      }

      .studyBlockHeaderDiv {
        position: sticky;
        top: 7px;
      }

      @media (max-width: 750px) {
        tr {
          display: flex;
          flex-direction: column;
        }
        td:first-child {
          width: auto;
          margin-top: 10px;
          position: sticky;
          top: 0px;
        }
      }
    }
  }

  .chunk {
    margin: 0px;
    white-space: pre-wrap;
    box-sizing: border-box;
    position: relative;
    line-height: 1.42;
  }

  .chunkComment {
    display: inline-block;
    width: 6px;
    height: 100%;
    background-color: red;
    margin-right: 2px;
    position: relative;
  }

  .chunkCommentPopup {
    position: absolute;
    top: calc(100% + 10px);
    width: 300px;
    height: 200px;
    background-color: white;
    z-index: 4;
    box-shadow: black 0px 0px 3px;
  }

  .bibleText {
    padding: 0px;
    margin-bottom: 10px;
  }

  .bibleText h3 {
    margin: 0px;
    font-size: 20px;
    user-select: none;
  }

  .hideBibleTextHeader .bibleText h3 {
    display: none;
  }

  .showBibleTextHeader .bibleText h3 {
    display: block;
  }

  .content {
    padding: 0px;
  }

  .question {
    padding: 0px;
  }

  .questions .studyBlockHeaderDiv {
    user-select: none;
    // pointer-events: none;
  }

  .questions h3 {
    margin: 0px;

    button {
      color: #0057d1;
      margin-left: 10px;
      background-color: #eef5ff;
      white-space: nowrap;
      border: none;
      border-radius: 5px;
      padding: 7px 15px;
      font-size: 14px;
      font-weight: 500;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #ddeafc;
      }
    }
  }

  .reference {
    background-color: red;
  }

  .referenceTo,
  .referenceToPopOpen {
    background-color: #ffff004d;
  }

  .otherCursorHolder {
    position: relative;
    display: inline-block;
  }
  .otherCursor {
    background-color: #167d00;
    border-left: 2px solid #167d00;
    height: 1.3em;
    display: inline-block;
    position: absolute;
    top: 1px;
    left: -1px;
    animation: blinker 3s cubic-bezier(1,0,1,-0.93) infinite;
  }

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }


  .otherSelection {
    background-color: #2cff001f;
  }

  .questionRef {
    display: inline;
    box-sizing: border-box;
    position: relative;
  }

  .questionRefPopup {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    border: 1.5px solid #eeeeee;
    box-shadow: 0 0 10px #00000029;
    z-index: 17;
  }

  .questionEditorHolder {
    grid-area: editor;
    padding: 10px;
    height: 100%;
    overflow-y: auto;
  }

  .questionRefPopup mover {
    display: flex;
    width: calc(100% - 20px);
    height: 40px;
    cursor: grab;
    background-color: #eee;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    padding: 0px 10px;
    user-select: none;

    .QpopUpTitle {
      margin: 0px;
      transform: translateY(-1px);
      pointer-events: none;
      word-wrap: break-word;
      overflow-wrap: break-word;
      pointer-events: none;

      img {
        opacity: 0.8;
        max-width: 16px;
        transform: translateY(2px);
        margin-right: 6px;
      }
    }

    .closer {
      cursor: pointer;
      margin-left: auto;
      background-color: #eee;

      img {
        max-width: 12px;
      }
    }
  }

  .questionPopUpAddAnswer {
    color: #0057d1;
    white-space: nowrap;
    background-color: #eef5ff;
    border: none;
    border-radius: 5px;
    padding: 5px 11px;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.3s;
    width: 66%;
    &:hover {
      background-color: #ddeafc;
    }
  }

  .questionPopUpTrash {
    color: #d10000;
    white-space: nowrap;
    background-color: #ffe7e7;
    border: none;
    border-radius: 5px;
    padding: 5px 11px;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.3s;
    width: 34%;
    &:hover {
      background-color: #ffd6d6;
    }
  }

  questionouter {
    display: grid;
    grid-template-areas: "q qt" "b a";
    grid-template-columns: auto 1fr;
    grid-gap: 7px;
    position: relative;
  }

  questionouter > div {
    grid-area: q;
    font-weight: 500;
    background-color: #ddeafc8c;
    // color: #0057d1;
    padding: 1px 6px;
    border-radius: 5px;
    height: fit-content;
  }
  questionouter > button {
    grid-area: a;
    justify-self: start;
  }
  question {
    grid-area: qt;
  }

  questiontext p {
    grid-area: qt;
    margin: 0px;
  }

  questiontext {
    display: block;
  }

  questionanswerouter {
    display: grid;
    grid-template-columns: 1.4em 1fr;
  }

  questionanswerouter > div {
    font-weight: 600;
  }

  questionanswer {
    display: block;
    margin-bottom: 3px;
  }

  questionanswer p {
    margin: 0px;
  }

  .addAnswer {
    color: #0057d1;
    margin-left: 10px;
    background-color: #eef5ff;
    white-space: nowrap;
    border: none;
    border-radius: 5px;
    padding: 5px 11px;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #ddeafc;
    }
  }

  .deleteQuestion {
    position: absolute;
    top: 0px;
    right: 0px;
    color: white;
    margin-left: 10px;
    background-color: #ff7d7d;
    white-space: nowrap;
    border: none;
    border-radius: 5px;
    padding: 5px 11px;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #c63333;
    }
  }

  .verseRef {
    font-size: x-small;
    vertical-align: super;
    padding-right: 3px;
    color: grey;
    cursor: pointer;
  }

  [contenteditable] {
    -webkit-user-select: text;
    user-select: text;
  }

  .bibleTextPlaceholder {
    user-select: none;
    // pointer-events: none;
    color: rgb(145, 164, 177);
    margin-top: 5px;

    img {
      max-width: 15px;
      margin: 0px 3px;
      transform: translateY(3px);
      opacity: 0.65;
    }
  }

  .noQuestionsText {
    user-select: none;
    // pointer-events: none;
    color: rgb(145, 164, 177);

    img {
      max-width: 18px;
      margin: 0px 3px;
      transform: translateY(3px);
      opacity: 0.65;
    }
  }
}

#addScripturePopup {
  max-width: 70%;
  #previewScripture {
    display: none;
  }

  .verseNum {
    font-size: x-small;
    vertical-align: super;
    padding-right: 3px;
    color: grey;
  }
}


#studyContent.collapse {
  grid-template-columns: 60px 1fr;
  #collapse img{
    transform: rotate(180deg);
  }

  #sectionContainer {
    display: none !important;
  }
  #bottom {
    display: none !important;
  }
}

#studyContent {
  display: grid;
  grid-template-columns: 200px 1fr;
  #leftSidebar {
    .container {
      position: sticky;
      top: 6rem;
    }
    #collapse {
      margin-left: 7px;
      img {
        transition: transform 0.3s;
      }
    }
    #sectionContainer {
      box-sizing: border-box;
      text-overflow: ellipsis;
      color: #757575;
      overflow: hidden;

      .moving {
        opacity: 0.5;
        background-color: #e9e9e9;
        transform: scale(1.1);
        transition: transform 0.2s cubic-bezier(.6,1.36,0,1.99);
      }

      .swipeOpen {
        transition: transform 0.2s ease;
        transform: translateX(-73px);
      }

      .section {
        padding: 5px 20px;
        user-select: none;
        cursor: pointer;
        position: relative;
        text-wrap: nowrap;

        @media (hover: hover) {
          &:hover {
            background-color: #e9e9e9;
            .remove {
              display: block;
            }
          }
        }

        .remove {
          position: absolute;
          top: 0.3em;
          right: 0px;
          display: none;
          width: 30px;
          text-align: center;
          background-color: #e9e9e9;

          &:hover {
            color: #303030;
          }
        }

        .deleter {
          position: absolute;
          background-color: red;
          top: 0px;
          right: 0px;
          padding: 5px 6px;
          transform: translateX(100%);
          width: 300px;
          color: white;
        }
      }

    }
    #bottom {
      display: grid;
      padding: 20px;
    }
  }
}


#profileContent {
  h1 {
    font-size: 27px;
  }
  form {
    max-width: 400px;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    margin-top: 20px;
    display: flex;
    label {
      color: #666;
      margin-bottom: 5px;
      font-size: 14px;
    }
  }
}
