.studiesPage {
  margin: 0 auto;
  max-width: 1080px;
  width: 95%;
}
.pageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    font-size: 27px;
  }

  .trashButton {
    background-color: rgb(255, 229, 229);
    color: rgb(205, 43, 49);
    padding: 5px 12px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      background-color: rgb(247, 208, 208);
    }
  }

  .trashButton2 {
    background-color: #e5f5ff;
    color: #6c6c6c;
    padding: 5px 12px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      background-color: #cce9fa;
    }
  }
}

.tableContainer {
  color: #1d1e21;
  border-collapse: separate;
  border-spacing: 0 10px;
  width: 100%;

  th {
    text-align: left;
  }
  .tableRow {
    -webkit-box-shadow: 0px 4px 7px 1px #00000012;
    box-shadow: 0px 4px 7px 1px #00000012;
    border-radius: 9px;
    transition: background-color 0.3s ease; // This ensures a smooth transition effect
    cursor: pointer;

    &:hover {
      background-color: #eef5ff;
    }

    td {
      padding: 10px;
    }
    .bibleBook {
      display: flex;
      align-items: center;

      img {
        margin-right: 9px;
        max-width: 24px;
      }
    }

    .sharedWith {
      color: #797d80;
    }
  }
}
