<form hx-post="{{base}}/signup" hx-target="this" hx-swap="outerHTML" >
  <label for="name">Name</label>
  <input required type="text" name="name" {% if errors.name %} value="{{errors.name}}" {% endif %} placeholder="Jonny Covert">

  <label for="email">Email</label>
  <input required type="email" name="email" {% if errors.email %} value="{{errors.email}}" {% endif %} placeholder="example@example.com">

  <label for="password">Password</label>
  <input required id="password" value="{{errors.password}}" type="password" name="password" >

  <label for="password2">Retype Password</label>
  <input required id="password2" value="{{errors.password2}}" type="password" name="password2" >

  <input value="{{redirect}}" type="hidden" name="redirect" >

  <div class="formGroup">
    <div>
      <label class="checkboxContainer">
        <input type="checkbox" class="custom" id="viewPassword" onchange="togglePassword()" />
        View Password
      </label>
    </div>
  </div>
  <p class="dontHaveAccount">
    Already have an account?
    <a link="" href="{{base}}/login?redirect={{redirect}}">
      Log In
    </a>
  </p>
  {% if wasCorrect == 'False' %}
  <ul class="errorText">
    {% if errors.nameNotNull != 1 %}
      <li>Need a name</li>
    {% endif %}
    {% if errors.isNotTaken != 1 %}
      <li>Email already taken</li>
    {% endif %}
    {% if errors.passwordsMatch != 1 %}
      <li>Passwords don't match</li>
    {% endif %}
    {% if errors.passwordLength != 1 %}
      <li>Password needs to be at least 9 characters long</li>
    {% endif %}
    {% if errors.verified != 1 %}
      <li>Verification failed</li>
    {% endif %}
  </ul>
  {% endif %}
  <altcha-widget
    challengeurl="/api/altcha/challenge"
    floating
  ></altcha-widget>
  <p class="formNote">You'll receive a verification email after signing up.</p>
  <button class="blue" type="submit" onclick="clearErrors()">Sign Up</button>
</form>

