.verseRangeSelector {
  flex-grow: 1;
  max-width: 200px;
  padding: 4px 10px;
  border-radius: 9px;
  outline: none;
  border: 2px solid #bfbfbf;
  display: flex;
  &:hover {
    background-color: #01255805;
  }
  .selectedVerseRange {
    flex-grow: 1;
  }
}
