.scriptureText {
  flex-grow: 1;
  padding: 6px 10px;
  border-radius: 9px;
  outline: none;
  border: 2px solid #bfbfbf;
  min-height: 50px;
  max-height: 200px; /* Set a maximum height */
  resize: none;
  overflow-y: auto; /* Make it scrollable when the content exceeds the maximum height */
}
