@media screen and (max-width: 750px) {
  .sidebar.closed {
    width: 0px !important;
  }
}

.sidebar {
  width: 200px;
  transition: width 0.3s;
  background-color: #fbfbfb;
  height: calc(100vh - 52px);
  overflow-y: auto;

  &.closed {
    width: 54px;
  }

  .sidebarToggle {
    padding: 0px 10px;
    height: 58px;
    width: calc(100% - 27px);
    margin-left: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    gap: 15px;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: #e9e9e9;
    }
    .reverse {
      transform: rotate(180deg);
    }

    p {
      margin: 0px;
      color: #9a9a9a !important;
    }
  }
  .sectionSidebarContainer {
    display: flex;
    padding: 8px 10px 3px 10px;
    width: calc(100% - 20px);
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: #e9e9e9;
    }

    .sectionSidebarTitle {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #757575;
    }

    .sectionSidebarStatus img {
      width: 29px;
      margin-right: 10px;
    }
  }
}

.documentBody {
  flex: 1;
  transition: width 0.3s; // smooth transition
  overflow-y: scroll;
}

.pageBody {
  display: flex;
  height: calc(100vh - 52px);
  overflow-wrap: anywhere;
}
