.sidebarContainer {
  display: flex;
  align-items: stretch; // ensures both children stretch to the full height of the container
  -webkit-user-select: none; /* Chrome, Safari, Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard Syntax */

  .sidebar {
    flex: 1;
    transition: none !important;
    background-color: #fbfbfb;
    height: calc(100vh - 92px);

    overflow: auto; /* Required for 'resize' to work */
    width: 200px; /* Initial width */
    min-width: 150px; /* Minimum width */
    max-width: 500px; /* Maximum width */
    position: relative;
    border-right: 5px solid #fbfbfb; /* something so page doesn't jump when hover border is applied */

    .sidebarToggle {
      background-color: #fbfbfb;
      z-index: 11;
      color: var(--blue-100);
      white-space: nowrap;
      text-overflow: ellipsis;
      border-radius: 10px;
      position: sticky;
      top: 0px;

      cursor: pointer;
      -webkit-user-select: none;
      user-select: none;
      -khtml-user-select: none;
      align-items: center;
      gap: 15px;
      width: calc(100% - 27px);
      height: 36px;
      padding: 0 10px 0 16px;
      display: flex;
      overflow: hidden;

      &:hover {
        background-color: #e9e9e9;
      }
      .reverse {
        transform: rotate(180deg);
      }

      p {
        margin: 0px;
        color: #9a9a9a !important;
      }

      img {
        max-width: 16px;
      }
    }

    .editSections {
      display: flex;
      gap: 15px;
      align-items: center;
      padding: 0 10px 0 16px;
      height: 36px;
      cursor: pointer;

      -webkit-user-select: none; /* Chrome, Safari, Opera */
      -khtml-user-select: none; /* Konqueror */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none; /* Standard Syntax */

      &:hover {
        background-color: #e9e9e9;
      }
      p {
        margin: 0;
        color: #9a9a9a;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      img {
        max-width: 16px;
        max-height: 16px;
      }
    }
    .allSectionSidebarContainer {
      // height: calc(100% - 96px);
      scrollbar-width: thin;
      margin-bottom: 8px;

      .sectionSidebarContainer {
        display: flex;
        padding: 2px 10px;
        width: calc(100% - 20px);
        align-items: center;
        cursor: pointer;
        gap: 14px;

        &:hover {
          background-color: #e9e9e9;
        }

        .sectionSidebarTitle {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          color: #757575;
          flex-grow: 1;
        }

        .sectionSidebarStatus,
        .sectionSidebarStatus img {
          width: 23px;
          height: 23px;
        }

        .sectionSidebarStatus {
          padding: 7px 0px;
        }

        .deleteSectionIcon {
          padding: 10px;
          border-radius: 8px;
          cursor: pointer !important;
          &:hover {
            background-color: #ffebeb;
          }
        }
      }
    }
  }
  .sidebarResizeHandle {
    cursor: ew-resize;
    height: 100%;
    width: 5px; // or adjust as needed
    background-color: transparent;
    z-index: 10;
    margin-left: -5px;

    &:hover {
      background-color: #e0e0e0;
    }

    &.closed {
      display: none !important;
    }
  }
}

@media screen and (max-width: 750px) {
  .pageBody.sidebarCollapsed .documentBody {
    overflow: hidden;
    max-height: calc(100vh - 135px);
  }

  .sidebar.closed {
    width: 0px !important;
    min-width: 0px !important;
    display: none !important;
  }

  .sidebarContainer {
    position: relative;
  }
  .sidebar {
    top: -92px;
    position: absolute;
    z-index: 1000;
    height: 100vh !important;
    width: 90% !important;
    max-width: 300px !important;
    min-width: 90vw !important;
    cursor: auto !important;
  }

  .mobileSidebarDarkFullscreenBackground {
    z-index: 999;
    background-color: #00000080;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    display: flex !important;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
  }

  .documentBody.sidenavOpen {
    left: 0;
    position: absolute;
  }
}

@media screen and (min-width: 751px) {
  .sidebar.closed {
    width: 48px !important;
    min-width: 48px !important;
    resize: none;
    border-right: none !important;
    cursor: auto !important;
  }
}

.mobileSidebarDarkFullscreenBackground {
  display: none;
}

.documentBody {
  flex: 1;
  transition: width 0.3s; // smooth transition
  overflow-y: scroll;
  padding: 20px;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 10px; /* Width of vertical scrollbars */
  }
  &::-webkit-scrollbar-thumb {
    background-color: #dadada; /* Color of the thumb */
    border-radius: 5px; /* Rounded corners */
    border: 2px solid #f5f5f5; /* Border color of the track */
  }
}

.pageBody {
  display: flex;
  height: calc(100vh - 92px);
  overflow-wrap: anywhere;
  position: relative;

  &.collapsed {
    transform: translateY(-52px);
    height: calc(100vh - 40px);

    .sidebar {
      height: calc(100vh - 40px);
    }
  }
}

.noSelect {
  user-select: none;
}

@media screen and (max-width: 620px) {
  .pageBody {
    display: flex;
    height: calc(100vh - 132px) !important;

    overflow-wrap: anywhere;
    position: relative;

    &.collapsed {
      transform: translateY(-52px);
      height: calc(100vh - 80px) !important;

      .sidebar {
        height: calc(100vh - 40px);
      }
    }
  }
}

.addSectionButton {
  z-index: 1001;
  color: var(--blue-100);
  background-color: var(--blue-25);
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 10px;
  position: sticky;
  bottom: 0px;

  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  -khtml-user-select: none;
  align-items: center;
  gap: 15px;
  width: calc(100% - 27px);
  height: 36px;
  padding: 0 10px 0 16px;
  display: flex;
  overflow: hidden;

  &:hover {
    background-color: #f5f9ff;
  }
}
/* custom scrollbar */
::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 1px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.documentAndSplitScreenContainer {
  width: 100%;
  height: 100%;
  display: flex;

  &.vertical {
    flex-direction: row;
    .otherUserSplitScreenContainer {
      border-left: 2px solid #eeeeee;
    }
  }

  &.horizontal {
    flex-direction: column;

    .otherUserSplitScreenContainer {
      border-top: 2px solid #eeeeee;
      border-left: 2px solid #eeeeee;
    }
  }
  > div {
    flex: 1;
  }
}

.otherUserSplitScreenContainer {
  background-color: #fbfbfb;
  position: relative;

  .splitScreenSwitcher {
    background-color: white;
    width: fit-content;
    border-radius: 55px;
    filter: drop-shadow(0px 2px 2px #d9d9d9);
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard Syntax */

    p {
      margin: 0;
      display: flex;
      gap: 5px;
      padding: 4px 9px;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: #f0f0f0;
      }

      img {
        max-width: 12px;
      }
    }
    .closeSplitScreen {
      max-width: 13px;
      cursor: pointer;
      padding: 15px 15px 15px 10px;
      border-radius: 5px;
      &:hover {
        background-color: #f0f0f0;
      }
    }

    .changeSplitScreenOrientation {
      max-width: 15px;
      padding: 15px 10px 15px 15px;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background-color: #f0f0f0;
      }
    }
  }
}
