.sidebarContainer {
  display: flex;
  align-items: stretch; // ensures both children stretch to the full height of the container

  .sidebar {
    flex: 1;
    transition: none !important;
    background-color: #fbfbfb;
    height: calc(100vh - 92px);

    overflow: auto; /* Required for 'resize' to work */
    width: 200px; /* Initial width */
    min-width: 150px; /* Minimum width */
    max-width: 500px; /* Maximum width */
    position: relative;
    border-right: 5px solid #fbfbfb; /* something so page doesn't jump when hover border is applied */

    .sidebarToggle {
      padding: 0 10px 0 16px;
      height: 58px;
      width: calc(100% - 27px);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: flex;
      gap: 15px;
      align-items: center;
      cursor: pointer;

      &:hover {
        background-color: #e9e9e9;
      }
      .reverse {
        transform: rotate(180deg);
      }

      p {
        margin: 0px;
        color: #9a9a9a !important;
      }
    }
    .allSectionSidebarContainer {
      height: calc(100% - 60px);
      overflow-y: scroll;
      scrollbar-width: thin;

      &::-webkit-scrollbar {
        width: 10px; /* Width of vertical scrollbars */
      }
      &::-webkit-scrollbar-thumb {
        background-color: #dadada; /* Color of the thumb */
        border-radius: 5px; /* Rounded corners */
        border: 2px solid #f5f5f5; /* Border color of the track */
      }
      .sectionSidebarContainer {
        display: flex;
        padding: 8px 10px 3px 10px;
        width: calc(100% - 20px);
        align-items: center;
        cursor: pointer;

        &:hover {
          background-color: #e9e9e9;
        }

        .sectionSidebarTitle {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          color: #757575;
        }

        .sectionSidebarStatus img {
          width: 29px;
          margin-right: 10px;
        }
      }
    }
  }
  .sidebarResizeHandle {
    cursor: ew-resize;
    height: 100%;
    width: 5px; // or adjust as needed
    background-color: transparent;
    z-index: 10;
    margin-left: -5px;

    &:hover {
      background-color: #e0e0e0;
    }

    &.closed {
      display: none !important;
    }
  }
}

@media screen and (max-width: 750px) {
  .sidebar.closed {
    width: 0px !important;
    min-width: 0px !important;
    display: none !important;
  }

  .sidebar {
    top: -92px;
    position: absolute;
    z-index: 1000;
    height: 100vh !important;
    width: 90% !important;
    max-width: 300px !important;
    cursor: auto !important;
  }

  .mobileSidebarDarkFullscreenBackground {
    z-index: 999;
    background-color: #00000080;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex !important;
    position: fixed;
    top: 0;
    left: 0;
  }

  .documentBody.sidenavOpen {
    left: 0;
    position: absolute;
  }
}

@media screen and (min-width: 751px) {
  .sidebar.closed {
    width: 54px !important;
    min-width: 54px !important;
    resize: none;
    border-right: none !important;
    cursor: auto !important;
  }
}
.mobileSidebarDarkFullscreenBackground {
  display: none;
}

.documentBody {
  flex: 1;
  transition: width 0.3s; // smooth transition
  overflow-y: scroll;
  padding: 20px;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 10px; /* Width of vertical scrollbars */
  }
  &::-webkit-scrollbar-thumb {
    background-color: #dadada; /* Color of the thumb */
    border-radius: 5px; /* Rounded corners */
    border: 2px solid #f5f5f5; /* Border color of the track */
  }
}

.pageBody {
  display: flex;
  height: calc(100vh - 92px);
  overflow-wrap: anywhere;
  position: relative;

  &.collapsed {
    transform: translateY(-52px);
    height: calc(100vh - 40px);

    .sidebar {
      height: calc(100vh - 40px);
    }
  }
}

.noSelect {
  user-select: none;
}

@media screen and (max-width: 620px) {
  .pageBody {
    display: flex;
    height: calc(100vh - 132px) !important;

    overflow-wrap: anywhere;
    position: relative;

    &.collapsed {
      transform: translateY(-52px);
      height: calc(100vh - 80px) !important;

      .sidebar {
        height: calc(100vh - 40px);
      }
    }
  }
}
