.topTextEditingToolbar {
  height: 40px;
  background-color: #eef2fa;
  width: calc(100% - 14px);
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0px 7px;
  z-index: 15;
  position: fixed;

  &.collapsed {
    transform: translateY(-52px);

    .toolbarIcon.collapseTopBar {
      transform: rotate(0deg) !important;
    }
  }

  .toolbarGroup1,
  .toolbarGroup2,
  .toolbarGroup3,
  .toolbarGroup4,
  .toolbarGroup5,
  .toolbarGroup6 {
    height: 40px;
    display: flex;
    gap: 5px;
    height: 30px;

    div {
      margin-top: 4.5px;
    }
  }

  .toobarTextDropdown {
    display: flex;
    align-items: center;
    height: 30px;
    padding: 7px;
    border-radius: 7px;
    cursor: pointer;
    gap: 20px;
    background-color: transparent;

    &:hover {
      background-color: #e0e4eb;
    }

    p {
      margin: 0px;
      text-wrap: nowrap;
      font-size: 14px;
    }

    img {
      max-width: 12px;
    }
  }

  .toolbarIcon {
    max-height: 16px;
    min-height: 16px;
    padding: 7px;
    border-radius: 7px;
    cursor: pointer;

    &:hover {
      background-color: #e0e4eb;
    }

    &.extendedMenuToggle {
      display: none;
    }
    &.collapseTopBar {
      max-height: 5px;
      min-height: 5px;

      transform: rotate(180deg);
      margin-left: auto;
      padding: 12px 9px;
    }
    &.active {
      background-color: #9fc5ff52;
    }
  }

  .extendedMenuContainer {
    position: relative; // Relative positioning for the parent container
  }

  .extendedToolbar {
    position: absolute;
    transform: translateY(5px);
    height: 40px;
    right: 0;
    background-color: #e4ebfa;
    display: none;
    z-index: 1;
    align-items: center;
    padding: 0px 6px;
    border-radius: 8px;

    > div {
      display: none;
    }
  }

  .seperator {
    background-color: #00000017;
    width: 1.5px;
    height: 70%;
    margin: 0px 5px;
    min-width: 1.5px;
  }
}

@media screen and (max-width: 750px) {
  .clearFormatting {
    display: none;
  }

  .extendedToolbar > .clearFormatting {
    display: flex !important;
  }

  .extendedToolbar {
    display: flex !important;
    position: fixed !important;
  }

  .extendedMenuToggle {
    display: flex !important;
    max-height: 13px;
    min-height: 13px;
    padding: 8.5px;

    &.expanded {
      background-color: #d3e3fd;
    }
  }
}

@media screen and (max-width: 735px) {
  .topTextEditingToolbar > .toolbarGroup5 {
    display: none !important;
  }
  .extendedToolbar > .toolbarGroup5 {
    display: flex !important;
  }
}

@media screen and (max-width: 630px) {
  .topTextEditingToolbar > .toolbarGroup4 {
    display: none !important;
  }
  .extendedToolbar > .toolbarGroup4 {
    display: flex !important;
  }
}

@media screen and (max-width: 535px) {
  .topTextEditingToolbar > .toolbarGroup3 {
    display: none !important;
  }
  .extendedToolbar > .toolbarGroup3 {
    display: flex !important;
  }
}

@media screen and (max-width: 450px) {
  .topTextEditingToolbar > .toolbarGroup2 {
    display: none !important;
  }
  .extendedToolbar > .toolbarGroup2 {
    display: flex !important;
  }
  .extendedToolbar {
    max-width: 100vw;
    flex-wrap: wrap;
    height: auto !important;
    left: 0;
    right: auto !important;
  }
  .extendedMenuContainer {
    position: inherit !important;
  }
}

@media screen and (max-width: 350px) {
  .topTextEditingToolbar > .toolbarGroup1 {
    display: none !important;
  }
  .extendedToolbar > .toolbarGroup1 {
    display: flex !important;
  }
}

.colorPickerPopUp {
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 6px #0000001a;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Two columns with equal width */
  grid-gap: 8px;

  > div {
    width: 27px;
    height: 27px;
    cursor: pointer;
    margin-top: 0px !important;
  }
  .black {
    background-color: #292c33;
  }
  .gray {
    background-color: #91a4b1;
  }
  .brown {
    background-color: #8b4e35;
  }
  .red {
    background-color: #f13a35;
  }
  .orange {
    background-color: #eb732e;
  }
  .yellow {
    background-color: #f8ac2b;
  }
  .green {
    background-color: #00a55b;
  }
  .blue {
    background-color: #2d78ed;
  }
}

.highlightColorPickerPopUp {
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 6px #0000001a;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Two columns with equal width */
  grid-gap: 8px;

  > div {
    width: 27px;
    height: 27px;
    cursor: pointer;
    margin-top: 0px !important;
  }
  .empty {
    border: 2px solid black;
  }
  .brown {
    background-color: #e3d1c9;
  }
  .red {
    background-color: #fdcbc8;
  }
  .orange {
    background-color: #fbdcc5;
  }
  .yellow {
    background-color: #fcf0bf;
  }
  .green {
    background-color: #c0e9d4;
  }
  .blue {
    background-color: #aedcfd;
  }
  .purple {
    background-color: #e8d0e5;
  }
}

.hyperlinkPopUp {
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 6px #0000001a;

  form {
    margin: 0px !important;
  }

  .labelInputContainer {
    display: flex;
    align-items: center;
  }
  input[type="text"] {
    border: 2px solid #ccc;
    border-radius: 8px;
    margin-bottom: 0px;
    padding: 4px 10px;
    font-size: 14px;
    min-width: 200px;
  }

  input[type="text"]:focus {
    border-color: #37aefd;
    outline: none;
  }
  form {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    margin-top: 18px;
    gap: 6px;
    align-items: flex-end;
  }
  .allInputsContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    margin-top: 18px;
    gap: 6px;
  }
  label {
    font-size: 16px;
    margin-bottom: 0px;
    color: #666;
    width: 43px;
  }
  .applyHyperlinkButton {
    color: #0057d1;
    white-space: nowrap;
    background-color: #eef5ff;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    padding: 5px 11px;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.3s;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }

  .popUpErrorMessage {
    color: #ff0000a6;
    margin-bottom: 0px;
    margin-top: 7px;
  }
}
