@import url("../utils/base.css");

#loginContent {
  grid-template-columns: 450px 1fr;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  overflow: hidden;
  input[type="email"],
  input[type="text"],
  input[type="input"],
  input[type="password"] {
    padding: 12px;
  }
  .leftColumn {
    background-color: #f9f9fb;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
  }
  .innerLeftColumn {
    width: 85%;
    max-width: 350px;
  }

}

#loginContent .leftColumn a {
  color: #0057d1;
  text-decoration: none;
}
#loginContent .leftColumn img {
  max-width: 200px;
  margin-bottom: 20px;
}

#loginContent .leftColumn h1 {
  margin-bottom: 10px;
  font-size: 28px;
}

#loginContent .leftColumn p {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.5;
}

#loginContent .leftColumn form {
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  margin-top: 20px;
  display: flex;
}

#loginContent .leftColumn label {
  color: #666;
  margin-bottom: 5px;
  font-size: 14px;
}

#loginContent .leftColumn .formGroup {
  color: #666;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  font-size: 14px;
  display: flex;
}

#loginContent .leftColumn .dontHaveAccount {
  margin-left: auto;
}

#loginContent .leftColumn button {
  padding: 12px;
}

#loginContent .rightColumn {
  justify-content: center;
  align-items: center;
  display: flex;
  background:
    url("/htmx/static/img/background-blue-circles.png") 50%/cover no-repeat,
    linear-gradient(135deg, #0d7ae7 0%, #1fa5ff 58%);
  width: 100%;
  height: 100%;
  position: relative;
}

#loginContent .rightColumn .centeredDiv {
  text-align: center;
  width: 80%;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
}

#loginContent .rightColumn .centeredDiv h2 {
  max-width: 600px;
  margin: auto auto 20px;
  font-size: 40px;
}

#loginContent .rightColumn .centeredDiv p {
  max-width: 500px;
  margin: auto;
  font-size: 18px;
}

#loginContent .rightColumn .centeredDiv img {
  width: 100%;
}

@media (max-width: 1200px) {
  #loginContent {
    grid-template-columns: 1fr;
  }
  #loginContent .rightColumn {
    display: none;
  }
}
