@import url("../utils/base.css");
@import url("../component/nav.css");

#studiesContent {
  width: 95%;
  max-width: 1080px;
  margin: 0 auto;
  padding-top: 20px;
  #allShares {
    margin-bottom: 30px;
    .share {
      color: black;
      border-radius: 9px;
      transition: background-color .3s;
      box-shadow: 0 4px 7px 1px #00000012;
      margin-top: 10px;
      div {
        padding: 10px;
        align-self: center;
      }
    }
  }
  h1 {
    font-size: 27px;
  }
  .table3 {
    margin-top: 20px;
    & > a {
      cursor: pointer;
      color: black;
      border-radius: 9px;
      transition: background-color .3s;
      box-shadow: 0 4px 7px 1px #00000012;
      margin-top: 10px;
      a&hover {
        background-color: #eef5ff;
      }
      div {
        padding: 10px;
      }
    }
  }

  .shareWith {
    color: #797d80;
  }

}

