@import url("../utils/base.css");

@import url("../component/groupstudy.css");
@import url("../header.css");
@import url("../editor/editor.css");
@import url("../editor/toolbar.css");
@import url("../component/nav.css");

@keyframes sidebarFlash {
  0% { background-color: transparent; }
  7% { background-color: #d7e9fdab; }
  14% { background-color: transparent; }
  21% { background-color: #d7e9fdab; }
  90% { background-color: #d7e9fdab; }
  100% { background-color: transparent; }
}

#studyPage {
  display: grid;
  height: 100vh;
  grid-template-areas: "header header" "toolbar toolbar" "sidebar editor";
  grid-template-columns: 200px 1fr;
  grid-template-rows: 52px 34px 1fr;
  background-color: #f8fafd;
  overflow: hidden;

  #leftSidebar {
    overflow: visible;
  }

  &.collapseSide{
    grid-template-areas: "header header" "toolbar toolbar" "editor editor";
    grid-template-columns: 1fr;

    #leftSidebar {
      position: absolute;
      top: 96px;
      left: 0;
      z-index: 20;
      background-color: transparent;
      margin-right: 0;
      .container {
        height: auto;
        display: block;
      }
    }

    #leftSidebar #collapseSide {
      margin-right: 0;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    }

    #leftSidebar #collapseSide .collapseIcon {
      display: none;
    }
    #leftSidebar #collapseSide .expandIcon {
      display: inline;
    }
    #leftSidebar #collapseSide .collapseLabel {
      display: none;
    }
    #leftSidebar #collapseSide .expandLabel {
      display: inline;
      white-space: nowrap;
    }

    #sectionContainer {
      display: none !important;
    }
    #addSectionRow {
      display: none !important;
    }

    @media (min-width: 1100px) {
      .editorHolder {
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  }

  &.collapseSide.split {
    grid-template-columns: 1fr 1fr;
  }
  &.split {
    grid-template-areas:
      "header header header"
      "toolbar toolbar toolbar"
      "sidebar editor sidebyside";
    grid-template-columns: 200px 1fr 1fr;
    grid-column-gap: 5px;
    #splitside {
      display: block;
    }
  }

  #header {
    grid-area: header;
    width: 100%;
  }
  #editorToolbar {
    grid-area: toolbar;
  }


  #splitside {
    overflow-y: auto;
    align-self: stretch;
    justify-self: stretch;
    display: none;
    position: relative;
    #splitPicker {
      position: sticky;
      top: 10px;
      left: 10px;
      z-index: 100;
    }
    #sideBySideEditor {
      margin-top: -30px;
    }
  }

  #leftSidebar {
    margin-right: 10px;
    .container {
      position: sticky;
      top: 6rem;
      display: grid;
      grid-template-rows: 2.2rem auto 1fr;
      height: calc(100vh - 6rem);
      overflow: visible;
    }
    #collapseSide {
      display: flex;
      align-items: center;
      gap: 4px;
      position: relative;
      z-index: 10;
      outline: 1px solid #c8c8c8;
      border-radius: 4px;
      background-color: white;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06);
      height: 30px;
    }
    #collapseSide {
      margin-left: 12px;
      padding-left: 9px;
      padding-right: 9px;
      img {
        transform: scale(0.7);
      }
      .expandIcon {
        display: none;
      }
      .collapseLabel, .expandLabel {
        font-size: 0.7rem;
        color: #757575;
        letter-spacing: 0.05em;
        margin-top: 1px;
      }
      .expandLabel {
        display: none;
      }
    }
    #sectionContainer {
      box-sizing: border-box;
      text-overflow: ellipsis;
      color: #757575;
      overflow-x: hidden;
      overflow-y: auto;
      mask-image: linear-gradient(180deg, #000 95%, transparent);
      padding-bottom: 2rem;


      .moving {
        opacity: 0.5;
        background-color: #e9e9e9;
        transform: scale(1.1);
        transition: transform 0.2s cubic-bezier(.6,1.36,0,1.99);
      }

      .swipeOpen {
        transition: transform 0.2s ease;
        transform: translateX(-73px);
      }

      .section.flash {
        animation: sidebarFlash 3s ease !important;
      }

      .section {
        padding: 5px 8px;
        margin-left: 9px;
        border-radius: 8px;
        user-select: none;
        cursor: pointer;
        position: relative;
        text-wrap: nowrap;

        @media (hover: hover) {
          &:hover {
            background-color: #e9e9e9;
            .remove {
              display: block;
            }
          }
        }

        .remove {
          position: absolute;
          top: 0.3em;
          right: 0px;
          display: none;
          width: 30px;
          text-align: center;
          background-color: #e9e9e9;
          img {
            width: 11px;
            height: 11px;
          }

          &:hover {
            color: #303030;
          }
        }

        .deleter {
          position: absolute;
          background-color: red;
          top: 0px;
          right: 0px;
          padding: 5px 6px;
          transform: translateX(100%);
          width: 300px;
          color: white;
        }
      }

    }
    #addSectionRow {
      padding: 6px 12px;
      button {
        width: 100%;
        font-size: 0.75rem;
        padding: 6px 0;
        cursor: pointer;
      }
    }
  }
}



#studyBlockEditor{
  width: 60vw;
  min-height: 60vh;
  padding: 10px;
  .container {
    display: grid;
    overflow-x: hidden;
    grid-template-rows: 4em 1fr 3em;
    height: 60vh;
    h2 {
      padding: 0px;
      margin: 0px;
    }

    #studyBlockEditorContent {
      padding: 10px;
      .moving {
        opacity: 0.5;
        background-color: #e9e9e9;
        transform: scale(1.1);
        transition: transform 0.2s cubic-bezier(.6,1.36,0,1.99);
      }
      .studyBlock {
        transform-origin: left;
        font-size: 1.5em;
        user-select: none;
        cursor: move;
        padding: 2px;
        grid-template-columns: 1fr 30px;
        display: grid;
        .remove {
          color: rgb(117, 117, 117);
          cursor: pointer;
          &:hover {
            color: rgb(48, 48, 48);
          }
        }
      }
      .studyBlock {
        &:hover {
          background-color: #e9e9e9;
        }
      }
    }

    footer {
      margin-top: 10px;
    }

  }

}
