<div id="groupStudyInner">
  <h3>Create Group Study</h3>
  <form hx-post="{{base}}/group_study" class="groupStudyEditorHolder">
    <label for="createName">
      Study Name
    </label>
    <input
      id="createName"
      name="name"
      type="text"
      required
      placeholder="1 Corinthians - Wednesday Guy's Group"
    >

    <input
      id="documentId"
      name="documentId"
      type="hidden"
      value="{{doc.docId}}"
    >

    <label for="createPeople">
      People
    </label>
    <div id="createPeoples">
      <template id="peopleInputTemplate">
        <div class="peopleInput">
          <input
            name="email[]"
            type="email"
            placeholder="jonny@p215.church"
          >
          <p-select name="permission[]">
            <option value="member" selected>
              Member
            </option>
            <option value="owner">
              Owner
            </option>
          </p-select>
          <button class="red">-</button>
        </div>
      </template>
    </div>

    <button type="submit" class="blue">Create</button>

  </form>
</div>

<script>
  addPeopleInput();
</script>
