{% if created %}
<button
  class="blue"
  id="groupStudyButton"
  hx-swap-oob="true"
  onclick="toggleModal('#groupStudy')"
>
  Group Study
</button>
{% endif %}

<div
  id="groupStudyInner"
  class="groupStudyEditorHolder"
  {% if created %}
  hx-swap-oob="true"
  {% endif %}
>
  <h3>{{groupStudy.name}}</h3>
  <h4>Invites</h4>
  <div id="studyGroupInvites">
    {% for share in shares %}
      <div class="share" id="share-{{share.token}}">
        <div class="share-email">
          {{share.email}}
          {% if share.rejected %}
            <span class="expired">
              (rejected)
            </span>
          {% elif share.isExpired %}
            <span class="expired">
              (expired)
            </span>
          {% endif %}
        </div>
        {% if isOwner %}
          <div class="buttons">
            <button
              class="lightBlue"
              hx-post="/group_study/{{groupStudy.groupStudyId}}/share/{{share.token}}/resend"
              hx-target="#share-{{share.token}}"
              hx-swap="outerHTML"
            >
              Resend
            </button>
            <button
              class="red trash"
              hx-confirm="Are you sure you want to delete this invite?"
              hx-delete="/group_study/{{groupStudy.groupStudyId}}/share/{{share.token}}"
              hx-target="#share-{{share.token}}"
            >
              <img src="{{base}}/static/img/gray-trash-icon.svg">
            </button>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>

  <h4>Members</h4>
  <div id="studyGroupMembers">
    {% for doc in groupStudy.docs %}
      <div class="member" id="member-doc-{{doc.docId}}" >
        <div>
          {{doc.editors[0].name}}
          {% if doc.editors[0].userId == user.userId %}
            <span>(you)</span>
          {% endif %}
        </div>
        <div class="buttons" >
        {% if isOwner %}
          <p-select
              hx-post="/groupStudy/{{groupStudyId}}/member/{{doc.editors[0].userId}}/ownerShip"
          >
            <option value="member" selected>
              Member
            </option>
            <option value="owner">
              Owner
            </option>
          </p-select>
        {% endif %}
        {% if isOwner %}
          <button
            class="red trash"
            hx-confirm="Are you sure you want to delete this member?"
            hx-delete="/group_study/{{groupStudy.groupStudyId}}/member/{{doc.docId}}"
            hx-target="#member-doc-{{doc.docId}}"
          >
            <img src="{{base}}/static/img/gray-trash-icon.svg">
          </button>
        {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>

{% if isOwner %}
  <button class="lightBlue">
    Invite New Members
  </button>
{% endif %}

</div>

