<!DOCTYPE html>
<html>
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet" />

  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport" />
  <title>Project 2:15</title>
  <link rel="icon" href="{{base}}/static/favicon.ico" type="image/x-icon" />
  <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="{{base}}/static/styles/styles.css">
  <script>
    function toggleDialog(qs) {
      const nav = document.querySelector(qs);
      if(nav.open) {
        nav.close();
      } else {
        nav.show();
      }
    }
    function toggleModal(qs) {
      const dialog = document.querySelector(qs);
      if(dialog.open) {
        dialog.close();
      } else {
        dialog.showModal();
        const clickFunc = (ev) => {
          var rect = dialog.getBoundingClientRect();
          var isInDialog =
            (rect.top <= event.clientY
              && event.clientY <= rect.top + rect.height
              && rect.left <= event.clientX
              && event.clientX <= rect.left + rect.width);
          if (!isInDialog) {
            dialog.close();
            dialog.removeEventListener('click', clickFunc);
          }
        };
        dialog.addEventListener('click', clickFunc);
      }
    }
  </script>
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>

