<!DOCTYPE html>
<html>
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" >
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" >
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet" >

  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport" >
  <title>Project 2:15</title>
  <link rel="icon" href="{{base}}/static/favicon.ico" type="image/x-icon" >
  <script src="https://unpkg.com/htmx.org@2.0.4"></script>
  <script src="{{base}}/static/scripts/option.js"></script>
  <script src="{{base}}/static/scripts/dialog.js"></script>
  <script src="{{base}}/static/scripts/notification.js"></script>
  <script src="{{base}}/static/scripts/clearErrors.js"></script>

  <link rel="stylesheet" href="{{base}}/static/styles/styles.css">
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>

