{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="/static/styles/pages/home.css">
<link rel="stylesheet" href="/static/styles/header.css">
<header id="header">
  <img src="{{base}}/static/img/p215-circle.svg" class="logo">
  <menu class="menu mobileHidden">
    <li>
      <a href="https://experiencethehope.com/teaching" target="_blank">
        Teachings
      </a>
    </li>
    <li>
      <a href="https://experiencethehope.com/equipping" target="_blank">
        Equipping
      </a>
    </li>
    <li>
      <a href="https://messaging.subsplash.com/25FXCW/auth" target="_blank">
        Messaging
      </a>
    </li>
  </menu>

  <div class="buttons mobileHidden">
    <a href="{{base}}/login">
      <button class="lightBlue">Log In</button>
    </a>
    <a href="{{base}}/signup">
      <button class="blue">Sign Up</button>
    </a>
  </div>

  <div class="hamburger" onclick="toggleModal('#mobileNav')">
    <svg xmlns="http://www.w3.org/2000/svg" width="52" height="24" viewBox="0 0 52 24">
      <g id="Group_9" data-name="Group 9" transform="translate(-294 -47)">
        <rect id="Rectangle_3" data-name="Rectangle 3" width="42" height="4" rx="2" transform="translate(304 47)" fill="#574c4c"></rect>
        <rect id="Rectangle_5" data-name="Rectangle 5" width="42" height="4" rx="2" transform="translate(304 67)" fill="#574c4c"></rect>
        <rect id="Rectangle_4" data-name="Rectangle 4" width="52" height="4" rx="2" transform="translate(294 57)" fill="#574c4c"></rect>
      </g>
    </svg>
  </div>

</header>
<dialog id="mobileNav">
  <menu>
    <li>
      <a href="https://experiencethehope.com/teaching" target="_blank">
        Teachings
      </a>
    </li>
    <li>
      <a href="https://experiencethehope.com/equipping" target="_blank">
        Equipping
      </a>
    </li>
    <li>
      <a href="https://messaging.subsplash.com/25FXCW/auth" target="_blank">
        Messaging
      </a>
    </li>
    <li>
      <a href="{{base}}/login">
        <button class="lightBlue">Log In
        </button>
      </a>
    </li>
    <li>
      <a href="{{base}}/signup">
        <button class="blue">
          Sign Up
        </button>
      </a>
    </li>
  </menu>
</dialog>

<div id="homeContent" class="pre-login-page">
  <section class="hero-section">
    <div class="section-content">
      <img class="box-1 floating-box" src="{{base}}/static/img/pre-login-pages/floating-box-1.png" alt="Floating box" />
      <img class="box-3 floating-box" src="{{base}}/static/img/pre-login-pages/floating-box-3.png" alt="Floating box" />

      <div class="hero-text">
        <h1>Making Bible Study Simpler than Ever!</h1>
        <p>Take the complexity out of Bible study and delve deeper into the Word with others</p>
        <div class="cta-box">
          <div class="cta-text">
            <h3>Intuitive Study Tools</h3>
            <p>Unlock the treasures of God’s word</p>
          </div>
          <div class="button-3d-wrapper">
            <button class="button-3d">
              BEGIN YOUR JOURNEY <img src="{{base}}/static/img/pre-login-pages/right-arrow.png" alt="right arrow" />
            </button>
          </div>
        </div>
      </div>
      <div class="hero-image">
        <img class="box-2 floating-box" src="{{base}}/static/img/pre-login-pages/floating-box-2.png" alt="Floating box" />

        <img
          class="book-face-girl"
          src="{{base}}/static/img/pre-login-pages/book-face-girl.png"
          alt="Overwhelmed with Bible study"
        />
      </div>
    </div>
  </section>

  <section class="community-section">
    <div class="section-content">
      <img src="{{base}}/static/img/pre-login-pages/people-talking-at-table.png" alt="Overwhelmed with Bible study" />
      <div>
        <img class="box-4 floating-box" src="{{base}}/static/img/pre-login-pages/floating-box-4.png" alt="Floating box" />

        <h2>Dive in with<br /><span style="color: #0057d1">Community!</span></h2>
        <p>When we seek His truth together, we experience fresh insights, renewed convictions, and surprising encouragement—evidence of a God who still speaks powerfully through His Word.</p>
        <button class="button-3d">
          SIGN UP <img src="{{base}}/static/img/pre-login-pages/right-arrow.png" alt="right arrow" />
        </button>
      </div>
    </div>
  </section>

  <section class="study-anywhere-section">
    <div class="study-content">
      <img class="box-5 floating-box" src="{{base}}/static/img/pre-login-pages/floating-box-5.png" alt="Floating box" />

      <h2>Study Anytime<br/><span style="color: #0057d1">Anywhere</span></h2>
      <p>Access your studies from your laptop, tablet, or smartphone, and study the Word of God on the go.</p>
      <button class="button-3d">
        CREATE A STUDY <img src="{{base}}/static/img/pre-login-pages/right-arrow.png" alt="right arrow" />
      </button>
    </div>
    <div class="study-image">
      <img class="box-6 floating-box" src="{{base}}/static/img/pre-login-pages/floating-box-6.png" alt="Floating box" />

      <img class="three-d-photo" src="{{base}}/static/img/pre-login-pages/study-mobile-3d-box.png" alt="The app on a phone" />
    </div>
  </section>

  <section class="custom-study-blocks">
    <div>
      <h1>Custom Study Blocks</h1>
      <p>Personalize your approach with a drag and drop study block builder</p>
    </div>
  </section>

</div></div>

{% include "footer.html" %}
{% endblock %}
