{% extends "base.html" %}
{% block content %}
<header id="header">
  <img src="/P215.ff715267.png?1704758697116" class="logo">
  <menu class="menu">
    <li>
      <a href="https://experiencethehope.com/teaching" target="_blank">
        Teachings
      </a>
    </li>
    <li>
      <a href="https://experiencethehope.com/equipping" target="_blank">
        Equipping
      </a>
    </li>
    <li>
      <a href="https://messaging.subsplash.com/25FXCW/auth" target="_blank">
        Messaging
      </a>
    </li>
  </menu>

  <div class="buttons">
    <a href="{{base}}/login">
      <button class="lightBlue">Log In</button>
    </a>
    <a href="{{base}}/login">
      <button class="blue">Sign Up</button>
    </a>
  </div>

  <div class="hamburger" onclick="toggleDialog('#mobileNav')">
    <svg xmlns="http://www.w3.org/2000/svg" width="52" height="24" viewBox="0 0 52 24">
      <g id="Group_9" data-name="Group 9" transform="translate(-294 -47)">
        <rect id="Rectangle_3" data-name="Rectangle 3" width="42" height="4" rx="2" transform="translate(304 47)" fill="#574c4c"></rect>
        <rect id="Rectangle_5" data-name="Rectangle 5" width="42" height="4" rx="2" transform="translate(304 67)" fill="#574c4c"></rect>
        <rect id="Rectangle_4" data-name="Rectangle 4" width="52" height="4" rx="2" transform="translate(294 57)" fill="#574c4c"></rect>
      </g>
    </svg>
  </div>

</header>
<dialog id="mobileNav">
  <menu>
    <li>
      <a href="https://experiencethehope.com/teaching" target="_blank">
        Teachings
      </a>
    </li>
    <li>
      <a href="https://experiencethehope.com/equipping" target="_blank">
        Equipping
      </a>
    </li>
    <li>
      <a href="https://messaging.subsplash.com/25FXCW/auth" target="_blank">
        Messaging
      </a>
    </li>
    <li>
      <a href="{{base}}/login">
        <button class="lightBlue">Log In
        </button>
      </a>
    </li>
    <li>
      <a href="{{base}}/signup">
        <button class="blue">
          Sign Up
        </button>
      </a>
    </li>
  </menu>
</dialog>

<div id="homeContent">
  <div class="section1">
    <div class="leftText">
      <h1>Making Bible <br>Study Simple!</h1>
      <p class="description">
        Take the complexity out of Bible study and delve deeper into the Word with others
      </p>
      <div class="blueRoundedContainer">
        <div>
          <h3>Intuitive Study Tools</h3>
          <p>Unlock the treasures of God’s word</p>
        </div>
        <div>
          <a href="{{base}}/signup">
            <button class="buttonContainer">
              BEGIN YOUR JOURNEY
              <img src="/arrow-icon.f6457c48.svg?1704758697116">
            </button>
          </a>
        </div>
      </div>
    </div>
    <div class="rightImage">
      <img src="/book-face-girl.7444da22.jpg?1704758697116">
    </div>
  </div>

  <!-- <div class="section2"> -->
  <!--   <div class="leftImage"><img src="/people-talking.433c5c8d.png?1704758697116"></div> -->
  <!--   <div class="rightText"> -->
  <!--     <h1 class="sectionTitle"> -->
  <!--       Dive in with -->
  <!--       <div style="color: rgb(0, 87, 209);">Community!</div> -->
  <!--     </h1> -->
  <!--     <p class="sectionDescription"> -->
  <!--       Disciple each other and seek God’s Truth through His Word -->
  <!--     </p> -->
  <!--     <div> -->
    <!--       <a href="{{base}}/signup"> -->
  <!--         <button class="buttonContainer"> -->
  <!--           SIGN UP -->
  <!--           <img src="/arrow-icon.f6457c48.svg?1704758697116"> -->
  <!--         </button> -->
  <!--       </a> -->
  <!--     </div> -->
  <!--   </div> -->
  <!-- </div> -->

</div>

<footer id="footer">
  <menu>
    <li><a href="{{base}}/login">Login</a></li>
    <li><a href="#">Founding Church</a></li>
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">Terms of Service</a></li>
    <li><a href="#">Privacy Policy</a></li>
  </menu>
  <p class="copyright">Copyright © 2023 Hope Community Church. All Rights Reserved.</p>
</footer>
{% endblock %}
