<!DOCTYPE html>
<html>
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport" />
  <title>Project 2:15</title>
  <link rel="icon" href="/favicon.c2499351.ico" type="image/x-icon" />
  <style media="screen" type="text/css">
  </style>
</head>
<body>

  <div class="Wn6-0a_gridContainer">

    <div class="Wn6-0a_leftColumn">
       <div class="Wn6-0a_innerLeftColumn">
          <a link="" href="/app/" class="active" aria-current="page">
            <img alt="Logo" src="https://p215.church/p215.1b0f8d17.png">
          </a>
          <h1>Log In</h1>
          <p>
            Please enter your login credentials below to start using the admin console.
          </p>
          <form>
             <label for="email">Email</label>
             <input type="email" id="email" placeholder="example@example.com">

             <label for="password">Password</label>
             <input id="password" type="password">

             <div class="Wn6-0a_formGroup">
                <div>
                  <label class="Wn6-0a_checkboxContainer">
                    View Password
                    <input type="checkbox" id="viewPassword">
                    <span class="Wn6-0a_checkmark">
                    </span>
                  </label>
                </div>
                <a link="" href="/app/resetpassword" class="inactive">
                  Forgot Password?
                </a>
             </div>
             <p class="Wn6-0a_dontHaveAccount">
               Don't have an account?
               <a link="" href="/app/signup" class="inactive">
                 Sign up
               </a>
             </p>
             <button type="submit">Log In</button>
          </form>
       </div>
    </div>

    <div class="Wn6-0a_rightColumn">
      <div class="Wn6-0a_centeredDiv">
         <h2>Making Bible Study Simpler than Ever!</h2>
         <p>
           Take the complexity out of Bible study and delve deeper
           into the Word with others
         </p>
         <img src="https://p215.church/laptop-mockup.ce89d1ea.png">
      </div>
    </div>

   </div>
</body>
</html>
