{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="/static/styles/pages/login.css">

<div id="loginContent">
  <div class="leftColumn">
    <div class="innerLeftColumn">
      <a link="" href="/app/" aria-current="page">
        <img alt="Logo" src="{{base}}/static/img/p215-circle.svg" />
      </a>
      <h1>Reset Password</h1>
      <p>
        You Fool! How could you forget you password? Use a password manager.
      </p>
      <form hx-post="{{base}}/reset_email" hx-target="this" hx-swap="outerHTML">
        <label for="email">Email</label>
        <input required id="email" type="email" name="email" />

        <button class="blue" type="submit">Send Password Reset Email</button>
      </form>
    </div>
  </div>

  <div class="rightColumn">
    <div class="centeredDiv">
      <h2>Making Bible Study Simpler than Ever!</h2>
      <p>
        Take the complexity out of Bible study and delve deeper into the Word
        with others
      </p>
      <img src="{{base}}/static/img/laptop-mockup.png" />
    </div>
  </div>
</div>
{% endblock %}
