{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="/static/styles/pages/profile.css">
<link rel="stylesheet" href="/static/styles/header.css">
<header id="header">
  <a class="logo" href="{{base}}/">
    <img class="logo" src="{{base}}/static/img/p215-circle.svg" >
  </a>
  <menu class="menu">
    <li><a href="https://experiencethehope.com/teaching" target="_blank">Teachings</a></li>
    <li><a href="https://experiencethehope.com/equipping" target="_blank">Equipping</a></li>
    <li><a href="https://messaging.subsplash.com/25FXCW/auth" target="_blank">Messaging</a></li>
</menu>

  <div class="buttons">
    <button class="profileButton" onclick="toggleModal('#profileNav')">
      {{user.nameShort}}
    </button>
  </div>
</header>

<dialog id="profileNav">
  <menu>
    <li>
      <a href="{{base}}/"> Home </a>
    </li>
    <li>
      <a href="{{base}}/signout"> Sign Out </a>
    </li>
  </menu>
</dialog>

<div id="profileContent">
  <h1>My Profile</h1>
  {% include "profile/form.html" %}

  <br>
  <h1>Features</h1>
  {% include "profile/featureForm.html" %}
</div>

<script>
  {% include "scripts/inputs.js" %}
</script>

{% include "footer.html" %} 
{% endblock %}
