{% extends "base.html" %}
{% block content %}
<header id="header">
  <img src="/P215.ff715267.png?1704758697116" class="logo">
  <menu class="menu">
    <li>
      <a href="https://experiencethehope.com/teaching" target="_blank">
        Teachings
      </a>
    </li>
    <li>
      <a href="https://experiencethehope.com/equipping" target="_blank">
        Equipping
      </a>
    </li>
    <li>
      <a href="https://messaging.subsplash.com/25FXCW/auth" target="_blank">
        Messaging
      </a>
    </li>
    <li>
      <button class="blue" onclick="toggleModal('#newStudy')">
        + New Study
      </button>
    </li>
  </menu>

  <div class="buttons">
    <button class="profileButton" onclick="toggleModal('#profileNav')">
      {{user.nameShort}}
    </button>
  </div>
</header>

<dialog id="profileNav">
  <menu>
    <li>
      <a href="https://forms.gle/koJrP31Vh9TfvPcq7" target="_blank">
        Give Feedback
      </a>
    </li>
    <li>
      <a href="{{base}}/signout">
        Sign Out
      </a>
    </li>
  </menu>
</dialog>

<div id="studiesContent">
  <h1>My Studies</h1>
  <div class="table3">
    <header>
      Study Title
    </header>
    <header>
      Group Study
    </header>
    <header>
      Last Opened By Me
    </header>
    {% for study in studies %}
      <a href="{{base}}/study/{{study.docId}}">
        <div>
          {{study.name}}
        </div>
        <div class="shareWith">
          {% if study.groupStudyName %}
            {{study.groupStudyName}}
          {% else %}
            Independent
          {% endif %}
        </div>
        <div>
          {{dateformat(study.updated, "%B %e, %Y")}}
        </div>
      </a>
    {% endfor %}
  </div>

</div>

<dialog id="newStudy">
  <h3>Create New Study</h3>
  <img alt="Close Modal" src="https://dev.p215.church/x.05b097ba.svg" class="closeModalIcon" onclick="toggleModal('#newStudy')">
  <form>
    <label for="studyTitle">Title</label>
    <input type="text" required name="studyTitle" placeholder="New Title...">
    <p class="fieldDescription">
      Ex: "<em>Romans January 2024 Study</em>"
      or "<em>Wednesday Night Colossians Study</em>"
    </p>
    <button type="submit" class="blue">
      Create
    </button>
  </form>
</dialog>

{% endblock %}
