body {
  position: relative;
  font-size: 15px;
  margin: 0px;
}

* {
  font-family: Poppins, sans-serif;
}

:root {
  --blue-100: #0057d1;
  --blue-75: #4181dc;
  --blue-50: #9fc5ff;
  --blue-25: #eef5ff;
}

button {
  cursor: pointer;
  vertical-align: middle;
  font-size: inherit;
  border: 0;
  outline: none;
  font-family: inherit;
  text-decoration: none;
  display: inline-block;
  position: relative;
  border-radius: 5px;
  padding: 5px 13px;
  font-size: 14px;
  font-weight: 600;
  transition: background-color .3s;
}

button.lightBlue {
  color: var(--blue-100);
  background-color: var(--blue-25);
  border: 2px solid var(--blue-50);
}

button.lightBlue:hover {
  background-color: var(--blue-50);
}

button.blue {
  color: white;
  background-color: var(--blue-100);
}

button.blue:hover {
  background-color: var(--blue-75);
}

input[type="checkbox"].custom {
  appearance: none;
  border-radius: 4px;
  width: 18px;
  height: 18px;
  position: relative;
  display: inline-block;
  color: #666;
  cursor: pointer;
  background-color: rgb(238, 238, 238);
  vertical-align: middle;
}

label:hover input[type="checkbox"].custom:not(:checked) {
  background-color: #ccc;
}

input[type="checkbox"].custom:checked {
  background-color: #0057d1;
}

input[type="checkbox"].custom:checked::before {
  content: "";
  position: absolute;
  border: 2px solid #fff;
  border-width: 0 2px 2px 0;
  width: 4px;
  height: 9px;
  top: 2px;
  left: 6px;
  transform: rotate(45deg);
}

input[type="email"],
input[type="input"],
input[type="password"] {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
  padding: 12px;
  font-size: 14px;
}

input:user-invalid {
  border: 1px solid red;
  box-shadow: 0px 0px 1px red;
}

h1 {
  font-size: clamp(2.5rem, 6vw + 1rem, 4rem);
  margin: 0px;
}

h2 {
  margin: 0px;
}

h3 {
  font-size: 1.8em;
  font-weight: bold;
  margin: 0px;
}

#home-grid {
}

#header {
  box-sizing: border-box;
  z-index: 999;
  background-color: #fff;
  align-items: center;
  width: 100%;
  height: 52px;
  padding: 0 20px;
  display: flex;
  position: sticky;
  box-shadow: 0 2px 4px #0003;
  top: 0px;
}

#homeContent {
  margin-top: 30px;
}

#footer {
  background-color: #fbfbfb;
  margin-top: 70px;
  padding: 40px 0;
}

#footer menu {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.6;
  list-style: none;
}

#footer menu li {
  padding: 0 15px;
  display: inline-block;
}

#footer menu li a {
  color: inherit;
  opacity: .8;
  text-decoration: none;
}

#footer .copyright {
  text-align: center;
  color: #aaa;
  margin-top: 15px;
  font-size: 13px;
}

#header .logo {
  max-height: 40px;
}

#header .menu {
  margin-left: auto;
  list-style: none;
  display: flex;
}

#header .menu li {
  margin-left: 20px;
}

#header .menu li a {
  color: #000;
  text-decoration: none;
  vertical-align: middle;
}

#header .buttons a {
  text-decoration: none;
}

#header .buttons button {
  margin-left: 15px;
}

#header .hamburger {
  cursor: pointer;
  margin-left: auto;
  padding-left: 10px;
  transform: scale(.6);
}

#header .profileButton {
  color: #333;
  cursor: pointer;
  background-color: #eee;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-left: 16px;
  display: flex;
  position: relative;
}

#mobileNav {
  z-index: 1000;
  margin-right: 0px;
  position: fixed;
  background-color: #fff;
  border-radius: 10px;
  border:none;
  box-shadow: 0 2px 4px #0003;
}

#mobileNav menu {
  flex-direction: column;
  padding: 10px 40px 0;
  list-style: none;
  display: flex;
}

#mobileNav menu li {
  padding-bottom: 20px;
}

#mobileNav menu li a {
  color: #000;
  text-decoration: none;
}

@media screen and (min-width: 764px) {
  #header .hamburger {
    display: none;
  }
}

@media screen and (max-width: 765px) {
  #header .menu {
    display: none;
  }
  #header .buttons {
    display: none;
  }
}


#homeContent .section1 {
  grid-gap: 20px;
  grid-template-columns: 4fr 3fr;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
  display: grid;
}

#homeContent .section1 .leftText h1 {
  margin-bottom: 0;
  font-weight: 600;
}

#homeContent .section1 .leftText .description {
  font-size: 1.35em;
}

#homeContent .section1 .leftText .blueRoundedContainer {
  color: #fff;
  background: linear-gradient(40deg, #0057d1 0% 56%, #7ca8e7 100%);
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  display: flex;
}

.buttonContainer img {
  width: 20px;
  padding-left: 10px;
}

#homeContent .section1 .rightImage {
  self-align: center;
}

#homeContent .section1 .rightImage img {
  max-width: 100%;
}

@media screen and (max-width: 1350px) {
  #homeContent .section1 {
    grid-template-columns: 1fr;
    max-width: 800px;
    padding: 0 25px;
  }
  #homeContent .section1 .rightImage {
    display: none;
  }
}

#loginContent {
  grid-template-columns: 450px 1fr;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  overflow: hidden;
}

#loginContent .leftColumn {
  background-color: #f9f9fb;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}

#loginContent .innerLeftColumn {
  width: 85%;
  max-width: 350px;
}

#loginContent .leftColumn a {
  color: #0057d1;
  text-decoration: none;
}
#loginContent .leftColumn img {
  max-width: 200px;
  margin-bottom: 20px;
}

#loginContent .leftColumn h1 {
  margin-bottom: 10px;
  font-size: 28px;
}

#loginContent .leftColumn p {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.5;
}

#loginContent .leftColumn form {
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  margin-top: 20px;
  display: flex;
}

#loginContent .leftColumn label {
  color: #666;
  margin-bottom: 5px;
  font-size: 14px;
}

#loginContent .leftColumn .formGroup {
  color: #666;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  font-size: 14px;
  display: flex;
}

#loginContent .leftColumn .dontHaveAccount {
  margin-left: auto;
}

#loginContent .leftColumn button {
  padding: 12px;
}

#loginContent .rightColumn {
  justify-content: center;
  align-items: center;
  display: flex;
  background: linear-gradient(135deg, #0d7ae7 0%, #1fa5ff 58%)
  , url("https://dev.p215.church/background-blue-circles.24972d13.png") 50%/cover no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
}

#loginContent .rightColumn .centeredDiv {
  text-align: center;
  width: 80%;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
}

#loginContent .rightColumn .centeredDiv h2 {
  max-width: 600px;
  margin: auto auto 20px;
  font-size: 40px;
}

#loginContent .rightColumn .centeredDiv p {
  max-width: 500px;
  margin: auto;
  font-size: 18px;
}

#loginContent .rightColumn .centeredDiv img {
  width: 100%;
}

.errorText {
  color: red;
}

@media (max-width: 1200px) {
  #loginContent {
    grid-template-columns: 1fr;
  }
  #loginContent .rightColumn {
    display: none;
  }
}

#notFoundContent {
  background-color: #f5f5f5;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
}

#notFoundContent .container {
  gap: 40px;
  width: 95%;
  max-width: 800px;
  margin: auto;
  display: flex;
}

@media (max-width: 750px) {
  #notFoundContent .container {
    flex-direction: column;
    padding: 0 20px;
  }
}

#notFoundContent h1 {
  color: #2c2c2c;
  font-size: 72px;
  font-weight: 700;
  margin: 0px;
}

#notFoundContent h2 {
  color: #7a7a7a;
  font-size: 24px;
}

#notFoundContent .returnHome {
  margin-top: 20px;
  margin-bottom: 30px;
}

#notFoundContent img {
  width: 100%;
  max-width: 300px;
}

#notFoundContent .block {
  margin-top: 20px;
}

#notFoundContent .block p {
  color: #5a5a5a;
  font-size: 18px;
}

#notFoundContent menu {
  padding-left: 0;
  list-style: none;
  display: flex;
}

#notFoundContent menu li {
  color: #5a5a5a;
  font-size: 18px;
  margin-right: 10px;
}


#profileNav {
  z-index: 1000;
  margin-right: 10px;
  position: fixed;
  background-color: #fff;
  border-radius: 10px;
  border:none;
  box-shadow: 0 2px 4px #0003;
  padding: 14px 0;
}

#profileNav menu {
  flex-direction: column;
  list-style: none;
  display: flex;
  margin: 0px;
  padding: 0px;
}

#profileNav menu li {
  cursor: pointer;
  padding: 0;
  display: flex;
}

#profileNav menu li a {
  color: #6c6c6c;
  text-decoration: none;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 8px 26px;
}

#profileNav menu li a:hover {
  background-color: #f6f6f6;
}
