#editorToolbar {
  z-index: 15;
  background-color: #eef2fa;
  grid-area: 2/1;
  align-items: center;
  gap: 5px;
  padding: 0 7px;
  display: flex;
  position: sticky;
  top: 52px;
  overflow-x: auto;
  touch-action: pan-x;
  overscroll-behavior: contain;

  .tooltipContainer {
    cursor: pointer;
    display: inline flex;
    position: relative;
    margin-top: 0 !important;
  }

  .toolbarButton {
    cursor: pointer;
    border-radius: 7px;
    padding: 9px 6px;
    background: none;
    display: flex;
  }

  .toolbarButton img {
    min-height: 16px;
    max-height: 16px;
  }

  .seperator {
    background-color: #00000017;
    width: 1.5px;
    min-width: 1.5px;
    height: 70%;
    margin: 0 5px;
  }

  .tooltipContainer:hover .tooltipText {
    opacity: 1;
    visibility: visible;
    transition-delay: .3s;
  }

  .tooltipText {
    opacity: 0;
    visibility: hidden;
    color: #f4f4f4;
    white-space: nowrap;
    pointer-events: none;
    background-color: #4f4f4f;
    border-radius: 23px;
    padding: 5px 11px;
    font-size: 12px;
    transition: opacity .3s,visibility .3s;
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translate(-50%);
  }

  .popupContainer {
    position: relative;
    overflow: visible;
    .popup.display {
      display: grid;
    }
    .popup {
      position: absolute;
      grid-gap: 8px;
      display: none;
      background-color: #fff;
      border-radius: 8px;
      grid-template-columns: repeat(4,1fr);
      padding: 10px;
      box-shadow: 0 4px 6px #0000001a;
      transform: translateX(-50%) translateX(15px);
      border: none;
      button {
        width: 27px;
        height: 27px;
      }
    }
  }

}

